[2015-11-09 07:23] RolandPheasant opened #1 "Search text in files is slow for large files"
When a file is greater than 50,000 lines filtering a file is slow

[2015-11-09 07:25] RolandPheasant opened #2 "Highlight new lines"
When a file is being tailed any new lines added to a file should be highlighted for a short period of time

[2015-11-09 07:27] RolandPheasant opened #3 "Virtual scrolling panel"
Create a custom panel to enable virtual scrolling if a file

[2015-11-09 21:09] #1 closed

[2015-11-09 21:56] RolandPheasant opened #4 "FileSystemWatcher problem"
The file system watcher is not reporting changes when a file is opened over a network share

[2015-11-10 17:29] RolandPheasant commented on #4
Probably better to use polling as fsw is not always reliable

[2015-11-10 20:39] #4 closed

[2015-11-10 21:33] #2 closed

[2015-11-10 21:34] RolandPheasant opened #5 "Allow user to select their own colour palette"

[2015-11-10 21:34] RolandPheasant opened #6 "Ability to scan entire folders / multiple files from a folder"

[2015-11-10 21:35] RolandPheasant opened #7 "Create persistence store"

[2015-11-10 21:36] RolandPheasant opened #8 "Store recent files and folders"
Enable quick access to these
Allow pin of file

[2015-11-15 08:59] RolandPheasant commented on #3
Done and dusted

[2015-11-15 08:59] #3 closed

[2015-11-15 21:16] punker76 opened #11 "Detect / merge logging lines for the same date time entry"
The feature parser should be detect logging lines for a date time entry.

[2015-11-16 16:01] luisrudge opened #12 "chocolatey"
Pleeeeeeeeeeease publish this to chocolatey :D
Thanks!

[2015-11-16 16:05] RolandPheasant commented on #12
Definitely

[2015-11-16 16:54] oniony opened #13 "Temporal indicator"
Probably a bit early in this project's development to be making this suggestion, but it would be really cool if there were an option to turn on some kind of marker for empty periods of log activity.

For example, during development it's common to flip-flop between making coding changes and then testing them out. After a test, you dip into the log to see what's happened and you quite often have to

[2015-11-16 16:56] RolandPheasant commented on #13
An inactivity indicator. Great idea.

[2015-11-16 21:20] RolandPheasant opened #14 "Fine tune performance"
1. Scrolling can be sluggish on files which have a very large number of lines.  So far I have seen scrolling stutter on a file with 800k lines which was opened on a server share. In theory this can be solved by adjusting the scrolling sample rate, but in practice it is hard to predict when back pressures are formed. The idea solution would be for a task to run and if a queue has formed disregard a

[2015-11-16 21:21] RolandPheasant commented on #4
I solved this by not using the FSW.

[2015-11-17 06:41] RolandPheasant opened #15 "Need Icon"
I am no designer so would be very happy if someone could design an icon for tail blazer.

Ideally the icon would be provided in .ico format as well as the xaml path.

[2015-11-17 06:47] RolandPheasant opened #16 "Conditional highlight lined"
Allows user to conditionally highlight lines or text using plain text or regex.

Should allow user to enter any number of conditions and prioritise rules.

[2015-11-17 06:54] RolandPheasant opened #17 "Find in file"
Currently when a user enters text to search the result returns filtered lines.

From these results it would be good to enable find lines in file. This would require find first, next, previous and last functionality.

[2015-11-17 06:54] RolandPheasant opened #18 "Find in file"
Currently when a user enters text to search the result returns filtered lines.

From these results it would be good to enable find lines in file. This would require find first, next, previous and last functionality.

[2015-11-17 19:11] omouse opened #19 "Missing LICENSE or COPYING"
Hopefully the license is GNU GPL v3, in any case it would be nice to see which license this code is under.

[2015-11-17 20:20] RolandPheasant commented on #19
This has been on my to do list so thanks for the prompt.

Your wish has noew been granted

[2015-11-17 20:20] #19 closed

[2015-11-17 21:02] RolandPheasant commented on #12
Let me know how it goes.

[2015-11-17 22:45] ivanatpr opened #20 "SSH/SFTP Support for Tailing Remote Files"
Not sure how feasible this is but it would be really neat to have the ability to tail files on a remote server via SSH and/or SFTP. Most log files that I'm interested in tailing live in remote unix servers.

[2015-11-18 05:42] RolandPheasant commented on #20
I know there are several c# ssh clients out there so in theory possible. However to make it work I would need do be able to stream the file over the connection, If this can be done then I will do it.

However this would not be my immediate priority.

[2015-11-18 06:00] ivanatpr commented on #20
Not sure how much support SSH libraries will have for file events, but one (potentially hacky) approach is to literally run "tail -f <file>" on the remote server and then stream the output. Perhaps even stream the output directly to a local file in a temp dir such that the main TailBlazer process can then open it just like any other local file. Just a thought.

[2015-11-18 06:31] RolandPheasant commented on #20
That should in theory work

[2015-11-18 07:42] wmaurer opened #22 "Tail file even after it has been newly created"
Both nlog and log4net have the concept of rolling log files, where based on a certain condition (file size, time of day), the log file is archived, and a new 'current' log file is created.
I assume in this case the 'current' log file is renamed, and a new 'current' file is created, with the same name, e.g.
[code]
However when I tail the 'current' log file, TailBlazer stops tracking changes after t

[2015-11-18 07:46] RolandPheasant commented on #22
I have accounted for the rollover but there currently is a bug.

In my testing I just manually delete the the log file to simulate rollover. However when the logger does this nothing happens!

As this is bread and butter logging functionality I will try and fix this after work tonight

[2015-11-18 10:35] oniony commented on #18
Duplicate of #17.

[2015-11-18 10:40] oniony commented on #22
It's probably because the logging library renames the file, rather than deleting it. If it were to delete the file then any tool that is currently reading it would potentially error. By renaming the file, those open streams are unaffected.

The file rename should trigger a `Renamed` filesystem notification, however, that you could listen for.

[2015-11-18 10:46] RolandPheasant commented on #18
Cheers Paul

[2015-11-18 10:46] #18 closed

[2015-11-18 12:00] GMTA commented on #14
+1 on the scrolling. It seems that the UI is updated every 500ms or so, while other tools update instantaneously.

Also, when heavy file update activity occurs, the application seems to hog 100% of one CPU core.

[2015-11-18 12:03] GMTA commented on #22
+1 Renames are currently followed, which is not the expected behavior

[2015-11-18 12:08] RolandPheasant commented on #14
I have just been experimenting with indexing all the lines and have been able to achieve blisteringly fast scrolling. When the index is used I user stream.seek method to load the current page.

The largest file I have tested has 1.3 million lines and it scrolls very well. Of course the indexing adds to memory pressures but the experiment has shown me I am on the right track.

[2015-11-18 12:22] GMTA commented on #14
You could reduce memory pressure by keeping a sparse index, e.g. indexing every 100th line instead of every line and using seeks for all lines in between. Doesn't have to be a constant, you can vary it by distance for example (index every line within 1000 lines of the current position, and decrease the resolution the further you go).

Alternatively, some tail tools (such as BareTail) give you the

[2015-11-18 12:27] RolandPheasant commented on #14
@oniony and I were also discussing some more sophisticated indexing options and there some overlap with our suggestion.

You can be assured that fine tuning performance is my current priority
Thanks

[2015-11-18 14:44] omouse commented on #19
awesome, thanks! :smiley:

[2015-11-18 19:48] RolandPheasant commented on #22
Should work now

[2015-11-18 19:48] #22 closed

[2015-11-18 20:07] wmaurer commented on #22
:+1: Thanks, I can confirm it's now working as expected.

[2015-11-18 20:18] wmaurer opened #23 "Application Icon"
TailBlazer needs a tasty :yum:  application icon so that it looks nice when pinned to the taskbar ;-)

Insipiration?
https://www.iconfinder.com/icons/197416/fairy_fairy_tail_tail_icon
https://thenounproject.com/search/?q=tail
http://bit.ly/1X8hl4t

[2015-11-18 20:27] RolandPheasant commented on #23
An icon is a must see [#15](https://github.com/RolandPheasant/TailBlazer/issues/15).

I quite like this [comet icon](https://icons8.com/web-app/11451/comet).  Would be good to see what it looks like in the tray

[2015-11-19 16:01] alexsorokoletov opened #25 "Please put this app to the Windows 10 Store!"

[2015-11-19 16:16] RolandPheasant commented on #25
This relates to issue [#12](https://github.com/RolandPheasant/TailBlazer/issues/12)

This is a new project so alas have not had time to package the beast yet. My current priority is to achieve high performance for large files which should be ready shortly after the weekend.

After that I will consider where to deploy. However unfortunately windows 10 store is out of reach as WPF apps are current n

[2015-11-19 17:19] alexsorokoletov commented on #25
:+1:  Maybe if you put the logic to the PCL then you will be able to abstract from WPF/Desktop .NET
This is really useful tool and I would love to have it installed and used on my machine

[2015-11-19 17:33] RolandPheasant commented on #25
MS have stated a wpf app is the recommended desktop application for new projects. They have also promised wpf will be permitted in the app store but so far that has yet to materialise.

As for a portable version then I would be happy to do that when this  https://github.com/ButchersBoy/MaterialDesignInXamlToolkit works on universal apps.

All that said, a chocolatey package will make it installabl

[2015-11-19 19:33] DoCode commented on #25
Nonono... Microsoft says WPF is THE Windows Desktop technology.
We should not go to the other ways. Then better we wait for the Microsoft Windows WPF/WinForm/Win32 Bridge for the Store

[2015-11-19 22:47] khellang commented on #13
This is actually a really good suggestion :+1:

[2015-11-20 09:37] oniony commented on #15
![tail blazer](https://cloud.githubusercontent.com/assets/5895/11296492/4d24b5fc-8f6a-11e5-989f-a1062efec6cb.png)

My only worry is it looks a bit too much like an adult toy.

[2015-11-20 09:38] RolandPheasant commented on #15
@oniony this is hilarious

[2015-11-20 09:40] ButchersBoy commented on #15
![image](https://cloud.githubusercontent.com/assets/658107/11296551/ad6633fa-8f6a-11e5-8d0f-f6f5e8eff5ac.png)

[2015-11-20 09:41] RolandPheasant commented on #15
@ButchersBoy can you convert that into a xaml path

[2015-11-20 09:42] oniony commented on #15
I have the SVG. I'll have a look into XAML though I imagine it should be pretty easy conversion of vector to vector.

[2015-11-21 14:12] RolandPheasant commented on #14
@GMTA Its fast now check out this [Fast Scrolling] document (https://github.com/RolandPheasant/TailBlazer/blob/master/Documents/Fast%20Scrolling.md)

For super large files probably more work required but for now I am going to put my feet up

[2015-11-22 08:18] RolandPheasant opened #28 "Take a closer look at Encoding"
Currently using Encoding.Default and specifying the detectEncodingFromByteOrderMarks=true in the constructor of the stream reader when indexing a log file. The indexer determines the start position and length of each line including the delimiter. It also determines what the line delimiter is (different for Windows, Mac, Unix).

When the content of the line is read because it comes it view, the Enc

[2015-11-23 09:08] GMTA commented on #14
@RolandPheasant I tried the latest release but it isn't able to read my log files correctly. Lines are garbled and distorted, sometimes beyond recognition. They are fairly standard WildFly log files.

So I'm not really able to test your changes. However, it does seem like the UI updates every 500ms making it a somewhat slow experience compared to other tail tools like Baretail.

[2015-11-23 09:12] RolandPheasant commented on #14
I just spotted that . Seems to be the way I have calculated the line lengths when indexing the file.  I am on the case. Is it possible to attach as smallish  extract here so I can test the indexing on your file type.

[2015-11-23 15:31] RolandPheasant commented on #14
@GMTA I think I have worked out the issue for both problems. Should be able to get a fix out in a day or 2.

[2015-11-23 18:03] RolandPheasant commented on #28
Turns out this is an issue which effects the alpha release 0.2.0.

[2015-11-23 20:28] #28 closed

[2015-11-24 09:44] RolandPheasant opened #29 "Performance: Speed up initial indexing time / Filtering time"
Any open file is indexed which allows for virtualisation of the visible lines.

However the indexing process can be slow for very large files. In this case there is an obvious latency when opening a file or applying a search.

[2015-11-24 09:52] RolandPheasant commented on #14
@GMTA the files should decode correctly now.

[2015-11-24 10:00] GMTA commented on #14
Decoding seems to be fixed, great work! Tailblazer seems very CPU bound at the moment, it barely responds when other applications are taxing my CPU at the same time, even for small log files.

[2015-11-24 10:25] RolandPheasant commented on #14
Thanks for that.  I suspect the underlying problem is network latency coupled with too fast a poll interval.  I am looking in work at an active 1.3 M line log file (100 MB in size) over a network share and my cpu is doing almost nothing

So to address the issue I will:

a) slow down the poll rate
b) rather than polling on a schedule, poll and allow for inactivity before polling again

I suspect in

[2015-11-24 10:49] RolandPheasant opened #30 "Performance: Automatically adjust next poll period to account for network latency"
High cpu usgae has been reported see [issue  #14](https://github.com/RolandPheasant/TailBlazer/issues/14)

I think this is caused by the work to check for and load changes from the file is longer than the poll interval. So to remedy I will try the following

1. Slow down poll rate
2. Only start timer for next poll after the work in the previous poll is complete

[2015-11-24 10:52] RolandPheasant commented on #14
@GMTA I have raise issue #30 to deal this this one and will be opening issues specifically for different performance problems. I will let you know when that is done

[2015-11-24 10:52] #14 closed

[2015-11-24 10:56] GMTA commented on #14
Alright, but just to make sure: my log files are locally accessed, not over a network share.

[2015-11-24 10:58] oniony opened #31 "Crashes when I open a log"
I've tried to open a variety of log files of various sizes using drag-drop and the menu option but Tail Blazer crashes every time.

Here's the entry from the event viewer:

    Fault bucket , type 0
    Event Name: CLR20r3
    Response: Not available
    Cab Id: 0

    Problem signature:
    P1: TailBlazer.exe
    P2: 0.2.1.91
    P3 :565377bc
    P4: PresentationFramework
    P5: 4.5.27.0
    P6:

[2015-11-24 10:58] RolandPheasant commented on #14
Blimey!  I will add a load of more logging to help get to the bottom of this.

[2015-11-24 10:58] RolandPheasant commented on #14
Again thanks for the input

[2015-11-24 10:59] RolandPheasant commented on #31
Do you have .net framework 4.6 installed?

[2015-11-24 11:00] oniony commented on #31
No I have 4.5, 4.5.1 and 4.5.3 preview.

The weird thing is it actually runs and then only crashes when I try to open a file. Wouldn't it not work at all if it was a .NET version problem?

[2015-11-24 11:02] RolandPheasant commented on #31
Does C:\Users\ME\AppData\Local\Temp\WER9C05.tmp.WERInternalMetadata.xml give you any clue?

[2015-11-24 11:06] RolandPheasant commented on #31
It is built for dot net 4.6. Is it possible for you to try installing it?

Also there is probably no need for me to build to 4.6. I will downgrade it to 4.5 and if all is fine keep it there

[2015-11-24 11:14] oniony commented on #31
Works now, thanks.

[2015-11-24 11:14] #31 closed

[2015-11-24 11:16] oniony opened #32 "Use monospaced font"
The logs look a bit weird with a proportional font. I imagine most people (with a few exceptions) would expect to see a monospaced font in use.

[2015-11-24 16:04] kmcginnes commented on #7
I'd like to start work on this. What were you thinking for a persistence? Here are some decent options:

* [Akavache](https://github.com/akavache/Akavache)
* [SqlLite](https://github.com/koush/sqlite-net)
* [Json file](http://www.newtonsoft.com/json)

I consider this a toss up between Akavache and Json files. I really like the simplicity of Json files and not needing any big dependencies, but the

[2015-11-24 16:04] guygervais opened #33 "File encoding incorrect for log produced by batch file with accented characters included."
[InventairePerpetuel.txt](https://github.com/RolandPheasant/TailBlazer/files/42880/InventairePerpetuel.txt)

[2015-11-24 16:12] RolandPheasant commented on #33
Thanks for this

[2015-11-24 16:20] RolandPheasant commented on #7
Keep it simple is definitely the way forward. I  suggest just having an API  to write text to a location. The location then becomes a back end store be it a file location, sqlite or a service.

This enables Json or any other serialization to be used. Personally I like to use xDocument / XmlTextReader which although they require more work up front enable flexible versioning  and reading of old form

[2015-11-24 17:10] kmcginnes commented on #7
Something like this?

[code]

[2015-11-24 17:41] RolandPheasant commented on #7
It's a  good start but I would keep the settings store as some thing which just loads and saves state and don't mix the storing and translation of the objects.

I cannat craft the code as i am typing this on my phone but there would be 2 methods: load and save.

Save would have 2 params: key and state.
Load would have key as a param and will return the state.
State would have 2 props version (int)

[2015-11-24 17:44] kmcginnes commented on #7
Sure, I'll jump on after lunch.

[2015-11-24 17:50] RolandPheasant commented on #7
Great. I am pleased you want to help.

[2015-11-24 18:24] RolandPheasant commented on #33
Thanks again. I can now see where the error lies and I am on the case. Without the file I would have no idea

[2015-11-24 18:25] guygervais commented on #33
Glad I could help.

De : Roland Pheasant [mailto:notifications@github.com]
Envoyé : 24 novembre 2015 13:24
À : RolandPheasant/TailBlazer
Cc : Guy Gervais
Objet : Re: [TailBlazer] File encoding incorrect for log produced by batch file with accented characters included. (#33)

Thanks again. I can now see where the error lies and I am on the case. Without the file I would have no idea

—
Reply to thi

[2015-11-24 20:00] RolandPheasant opened #34 "Target Net 45 rather than Net 46"
There is no need for 4.6 and not all people have it installed anyway

[2015-11-24 20:01] #34 closed

[2015-11-24 20:22] kmcginnes commented on #7
This is what I understood from your message

[code]

And what I was thinking originally would play out something like this:

[code]

So that would manage the file itself. And then translation would happen in another piece.

[code]

[2015-11-24 21:21] #32 closed

[2015-11-24 21:51] RolandPheasant commented on #7
A little different

Check out this folder https://github.com/RolandPheasant/TailBlazer/tree/master/Source/TailBlazer.Domain/Settings for the first bash of the API.

The difference is I split the encoding / decoding with the store. A converter is used for converting from State to object.  Now that may be Jason or anything

Also the store can be SQL Lite or file or service.  I need to get off my pc

[2015-11-24 22:14] RolandPheasant commented on #7
Also let's stay away from a settings bucket like user settings and treat the settings on a one by one basis.

[2015-11-25 05:40] RolandPheasant opened #35 "Log stops updating shortly after rollover"
This a regression which was introduced with indexing the log file.

[2015-11-26 10:33] RolandPheasant opened #36 "Highlight text control causes performance issues for very busy files"
This results in the system completely freezing.

Solution

1. Only enable highlighting when x number of characters are entered
2. Disable highlighting when there is a high tail update frequency

[2015-11-26 19:49] #36 closed

[2015-11-26 19:50] RolandPheasant commented on #30
Changed the way that files are polled.

[2015-11-26 19:50] #30 closed

[2015-11-26 19:51] RolandPheasant opened #37 "Show indicators for file loading / searching"

[2015-11-27 10:34] RolandPheasant commented on #35
This is problem only when a filter has been applied

[2015-11-27 19:23] #33 closed

[2015-11-27 19:23] #35 closed

[2015-11-29 09:36] Echarnus opened #38 "Log not rendering"
I encountered a bug where the TextBlock (?) doesn't want to render unless it overflows and a scrollbar appears (screenshots 0 and 1).

When starting from a log file which doesn't contain entries, I even had to reopen the file (screenshot 2).

![tailblazer-not-rendering-log-bug-0](https://cloud.githubusercontent.com/assets/9265969/11456284/fb50e6f2-9684-11e5-8e9a-7e39e5da0cda.PNG)
![tailblazer-not-

[2015-11-29 09:41] RolandPheasant commented on #38
This should be fixed in the next release which should be going out today.  I will let you know when it is done

[2015-11-29 15:57] #37 closed

[2015-11-29 15:58] RolandPheasant commented on #38
@Echarnus this should now work in version 0.2.2

[2015-11-29 15:58] #38 closed

[2015-11-29 16:01] RolandPheasant commented on #33
@guygervais I have fixed this one. Could you try again with the latest release or build and let me know

[2015-11-29 16:07] RolandPheasant commented on #29
I am current working on a much better algorithm which uses spares indices.  The result will also see an enormous improvement in opening time

[2015-11-30 10:02] ischas opened #39 "Word wrap"
I'd like to see an option for automatic word wrap on lines, which are not representable on the monitor without scrolling horizontally.

[2015-11-30 13:03] Echarnus opened #40 "Line hightlighting"
First of all, great job so far.

Probably it's already a feature at your to-do list. But is it possible to have the possibility to highlight lines matching a certain string. For example to be able to highlight lines starting with [E].

[2015-11-30 13:03] #40 closed

[2015-11-30 14:37] thoemmi commented on #40
Same as #16 :wink:

[2015-11-30 14:41] RolandPheasant commented on #40
No worries.

[2015-11-30 19:51] RolandPheasant commented on #39
If not a word wrap I will create a means of viewing long lines

[2015-11-30 19:53] guygervais commented on #33
Works great. Even better than BareTail now, since the diacritics show up correctly.

Thanks!

Guy

De : Roland Pheasant [mailto:notifications@github.com]
Envoyé : 29 novembre 2015 11:01
À : RolandPheasant/TailBlazer
Cc : Guy Gervais
Objet : Re: [TailBlazer] File encoding incorrect for log produced by batch file with accented characters included. (#33)

@guygervais<https://github.com/guygervais> I

[2015-11-30 19:56] RolandPheasant commented on #14
@GMTA I have done lots of work on performance and found a few issues clearly slowed things down.  The latest release (see [v0.2.2](https://github.com/RolandPheasant/TailBlazer/releases/tag/0.2.2)) should be a lot quicker.  I would appreciate if you take a look.

At the weekend I will be doing a release which according to my tests should be highly performing even for gigabyte sized files.

[2015-11-30 19:59] RolandPheasant commented on #33
:+1:  The next release which should be in less than a week will also mean that Tail Blazer can easily handle giga byte files. After that I will start enriching it with loads of features

[2015-12-01 13:59] GMTA commented on #14
@RolandPheasant Performance has improved! I'll be testing some more tomorrow.

[2015-12-01 14:02] RolandPheasant commented on #14
:+1: Thanks for checking. Someone in work just showed me a folder full of 20 Gigabyte sized files so handling files that size has become my new challenge.

[2015-12-02 15:44] RolandPheasant opened #41 "Problem with very long lines in the file"
When a file is opened with very long line widths, the searchable text box attempts to wrap the text to a new line when it should not. It leaves approximately 1.3 lines showing where there should be 1 line.

Not only does it look ugly but it has an adverse effect on scrolling

@tomekka I am looking into this.

[2015-12-02 21:25] RolandPheasant opened #42 "Fast searching"
At the time of raising this issue I am almost finished with re-factoring the code base to handle extremely large files.  So far in my tests at work I have manage to load a 13Gb file in about 2 seconds and can scroll from bottom to top in a blink - and that is over a network share.

Never one to rest on his laurels it is time to consider the next task. On a file this large the search mechanism can

[2015-12-03 06:21] ForNeVeR opened #43 "Pass arguments through command line"
I would like to call `TailBlazer C:\logs\file.log` and have it open the file immediately after the start.

[2015-12-03 06:24] ForNeVeR opened #44 "Open pipe instead of file"
It would be very nice to pipe command output to TailBlazer and use it as a log viewer (as a real `tail` program). For example,

[code]

(`nginx` here is just an example of a long running application)

It would be even more nicer to connect to any running process stdout and read its logs, but I fear that it will involve much native code magic and dealing with Windows permissions; maybe it isn't pos

[2015-12-03 06:33] RolandPheasant commented on #44
Any command output in theory could be piped to tail blazer using stand command output parsing.

My first instinct is this is doable but will require further research.

[2015-12-03 06:33] RolandPheasant commented on #43
Good suggestion

[2015-12-03 13:56] wmaurer commented on #15
@RolandPheasant in #23 you said:

Here's what it could like like in the tray:

![tailblazer_taskbar_white](https://cloud.githubusercontent.com/assets/2899448/11562343/c79a9032-99cd-11e5-8398-0b87d1af7d19.png)

or

![tailblazer_taskbar_green](https://cloud.githubusercontent.com/assets/2899448/11562350/d13a88ae-99cd-11e5-9fa6-88e09612d9e3.png)

Although I was able to grab the SVG source for this ico

[2015-12-03 13:57] wmaurer commented on #23
Sorry, I hadn't seen issue #15. I recommend closing this and continuing on #15.

[2015-12-03 13:57] #23 closed

[2015-12-03 14:01] RolandPheasant commented on #15
@wmaurer perhaps I should purchase it and get you to convert it to a xaml path as well as a proper .ico file.  How does that sound?

[2015-12-03 14:23] wmaurer commented on #15
Sure, no probs. Buy the SVG, check it into the Images folder and I'll PR in the next days.

[2015-12-03 15:02] ForNeVeR opened #45 "Clipboard support"
There definitely should be a possibility to copy a piece of log to the clipboard.

[2015-12-03 15:04] RolandPheasant commented on #45
Someone in work just asked me for that

[2015-12-03 15:05] ForNeVeR commented on #45
It wasn't me :)

[2015-12-03 15:08] RolandPheasant commented on #45
Actually 2 people have asked me in work and now you. This will be first job when I have finished work on large file handling (almost there now)

[2015-12-03 15:21] RolandPheasant commented on #15
Done and waiting for a PR. Thanks

[2015-12-03 20:52] Echarnus opened #46 "Keyboard shortcuts"
As the title suggests, keyboard shortcuts for such as searching through files.

[2015-12-03 23:30] RolandPheasant commented on #46
I have plans regarding navigation.  Its a feature in waiting.

[2015-12-04 07:37] weismat opened #47 "Tx Support"
It would be nice if TailBlazer supports accessing logging from Event Tracing for Windows which is the preferred logging mechanism when performance is critical.
The TX library (https://github.com/MSOpenTech/Tx) should be a great starting point as it offers a Rx based access to the ETW data.

[2015-12-04 22:20] wmaurer commented on #15
Which green would you prefer, the darker from the title bar (#388E3C)

![tailblazer_taskbar_green_2](https://cloud.githubusercontent.com/assets/2899448/11602780/42c1d21a-9add-11e5-8462-382372ecd0c6.png)

or the lighter of the FileIcon (#4CAF50)?

![tailblazer_taskbar_green_3](https://cloud.githubusercontent.com/assets/2899448/11602788/5581f9e8-9add-11e5-89ed-eb8e247b61e7.png)

[2015-12-04 22:30] RolandPheasant commented on #15
I think it would be better to use the title colour as the icon will also be displayed in the left corner of the title bar.

Shall we try that one first?

[2015-12-04 22:58] wmaurer commented on #15
There are numerous ways to set the icon.

One is under Project Properties -> Application. In this case the icon isn't set in the Title Bar.

Another way is to set Icon property in XAML on the window. In this case, the *same* icon (though possibly different size) is shown in the Title Bar and the Task Bar. The problem here is that the icon's background is transparent, and so if the foreground is th

[2015-12-04 23:01] RolandPheasant commented on #15
The task bar is the priority. Could you do an icon in both colours so I  try and see what's best?

[2015-12-04 23:02] wmaurer commented on #15
Sure, I'll do it in the two greens and also in white.

[2015-12-05 20:00] wmaurer opened #49 "Progress symbol"
Since TrailBlazer now has an icon, the next idea is for a [progress symbol](https://github.com/RolandPheasant/TailBlazer/pull/48#issuecomment-162237848).

This issue is the starting point for the next PR.

Possible inspiration, an animated version of:
https://icons8.com/web-app/11451/comet

[2015-12-05 21:10] #15 closed

[2015-12-05 21:17] RolandPheasant commented on #49
That would be awesome.  I like the Git hub symbol with the circular spinning thing around the octo-cat. Something similar to that would be great but perhaps even better for something creative and original. For example the comet symbol where the tail has fire coming from it (in the highlight colour).

I am open to ideas.

[2015-12-05 21:22] RolandPheasant commented on #15
@oniony @ButchersBoy looks like your suggestions have failed :smile:

[2015-12-06 12:32] wmaurer commented on #49
The circular spinning thing in the style of github's wouldn't be too hard. Here's a link to it:
![octocat-spinner](https://assets-cdn.github.com/images/spinners/octocat-spinner-128.gif)

My approach would be to modify the ControlTemplate of the WPF ProgerssBar.
I'll have a look at it at some time this week

[2015-12-06 12:40] RolandPheasant commented on #49
If you can to that it will be great. Changing the control template / style of the progress bar is definitely the way forward.

My limitation is I am not very good (I need to learn!) at doing paths / animations in WPF

[2015-12-06 16:23] thoemmi commented on #49
[LoadingIndicators.WPF](https://github.com/100GPing100/LoadingIndicators.WPF) offers many different spinners, and they claim to support MahApps.Metro too.

[2015-12-06 16:32] RolandPheasant commented on #49
@thoemmi  I am currently using  this [Spinner](https://github.com/RolandPheasant/TailBlazer/blob/master/Images/SpinnyThingWhenLoading.gif)  which is a proress bar from MaterialDesignToolKit. However I think it would be a real nice touch to some Tail Blazer specific spinner.

[2015-12-06 16:37] RolandPheasant commented on #49
@thoemmi btw those in you link to look good

[2015-12-06 19:46] RolandPheasant opened #50 "Not rolling over correctly"
Due a major re-write of the heart of the system #42, a knock on effect has been that files are not being correctly followed after roll-over of log files.

Both FileSearch.cs and SparseIndexer.cs need to account for a file becoming smaller. In this case the file should be treated as a new file and all cache data should be cleared down.

[2015-12-06 19:47] RolandPheasant commented on #42
The infrastructure has been implemented

[2015-12-07 10:16] #50 closed

[2015-12-07 10:18] RolandPheasant commented on #49
@wmaurer probably best to base the spinner on the MaterialDeisgnToolKit one, with the comet in the centre.  This will keep it consistent with the whole material design style of Tail Blazer

[2015-12-07 13:13] #42 closed

[2015-12-07 13:16] RolandPheasant commented on #5
I have decided not to allow changing from green. Green is part the tail blazer brand

[2015-12-07 13:16] #5 closed

[2015-12-07 20:14] RolandPheasant commented on #29
Phew. After a marathon of coding all hours I have licked thus one.

I have managed to open a 13 GB file in about a second and can sroll from top to bottom in about the same time.

Searching is files is still slow and extremely memory intensive but I have some ideas here which I treat as a different concern.

[2015-12-07 20:14] #29 closed

[2015-12-07 20:27] RolandPheasant opened #51 "Plug-in to any provider of lines"
There have been some very interesting requests for enabling Tail Blazer to be the visualisation of external data sources.  So far there have been requests for:

#47 Tx Support
#44 Open pipe instead of file
#20 SSH/SFTP Support for Tailing Remote Files

Also but not raised as an issue:

 -  Local instance of Elastic Search
 -  Windows event viewer logs

I am sure there are plenty of other potential

[2015-12-07 22:15] kmcginnes opened #52 "Save and restore window size and position"
The windows size and position should be restored every time I launch the app. Phil Haak has a great [example of this](http://haacked.com/archive/2012/04/09/reactive-extensions-sample.aspx/) using Rx.

[2015-12-07 22:17] kmcginnes commented on #7
Sorry for the slow response. As far as storage goes, I'm fine with whatever you want. I'm more interested in how `ISetting` works. What is `T`? Is it an individual setting or a collection of settings?

So the only reason I wanted to pick this up was so that I could implement two of the other issues:
* #8 Recent files
* #52 Save and restore window size and position

If this issue is going to requir

[2015-12-07 22:44] RolandPheasant commented on #7
@kmcginnes no worries, I have been completely consumed with getting the performance for very large files up to speed. This has taken an enormous effort and I have had no time to even think about other functionality but thank fully this is done now and  I am very pleased with the results.

Perhaps for the first attempt at settings I am over complicating things but in my industry there are users who

[2015-12-07 23:11] RolandPheasant commented on #52
Tail blazer is using dragablz which is a fully fledged docking library. It also has the google chrome capability of pulling a tab out into and independent window.

I work with the guy who created it so I will ask if there is any sample store / restore code to use as a starting point

[2015-12-08 04:07] ForNeVeR opened #53 "Change tab naming algorithm"
When I open two files with the same name (for example, `C:\MyProject\x86Debug\Logs\log.txt` and `C:\MyProject\x86DebugServer\Logs\log.txt`), the tab bar looks like this:

![image](https://cloud.githubusercontent.com/assets/92793/11647465/b34be7f2-9d92-11e5-9c0a-b071610ae8de.png)

It is not a very nice; it's hard to distinguish these files. Consider naming the tabs according to the file path fragme

[2015-12-08 07:48] thoemmi commented on #51
Additional providers could be TCP and UDP. [Log4net](https://logging.apache.org/log4net/release/config-examples.html#udpappender), [NLog](https://github.com/nlog/nlog/wiki/Network-target), [log4j](http://logging.apache.org/log4j/2.x/manual/appenders.html#SocketAppender) are all able to send log messages over the wire (or through the ether). It would be awesome if TailBlazer could act as a sink for

[2015-12-08 07:51] RolandPheasant commented on #51
@thoemmi I have updated the list in the original comment

[2015-12-08 08:19] RolandPheasant commented on #53
Excellent idea.  I would also like to make the text editable (probably use MaterialDesignToolkit - PopupBox to open an editable control as well as other options)

[2015-12-08 10:59] RolandPheasant commented on #14
@GMTA  [version 0.3](https://github.com/RolandPheasant/TailBlazer/releases/tag/0.3) should be much much better. Please try and let me know how it goes.

[2015-12-09 21:49] RolandPheasant commented on #45
@ForNeVeR  This has been a surprisingly tricky task since the log entry lines are virtualised and as soon as an item is scrolled out of view it is out of memory.

To get around this difficulty I have had to create a controller to monitor selected items and store items which have recently been removed from the view. This is to ensure that you can select an item, scroll down, and press shift to mult

[2015-12-09 21:56] RolandPheasant commented on #53
@ForNeVeR I am a bit busy with some features now, so would you like to write this algorithm?

[2015-12-09 23:12] khellang commented on #53
I can PR this if @ForNeVeR isn't up to it :smile:

[2015-12-10 05:07] ForNeVeR commented on #53
Guys, currently I am busy a bit on my other projects, so feel free to implement this feature. Thanks for asking though :)

[2015-12-10 06:26] RolandPheasant commented on #53
@ForNeVeR no worries at all and keep raising issues as you have identified some important ones.
@khellang That'll be great.  I see it working something like this:

### Part 1 [name the label]
 - Write an algorithm to label files based on a list of files
 - If there is no duplicate name show the name only eg. 'logger.txt'
 - If there is a duplicate name label fragments eg 'Debug\logger.txt' and als

[2015-12-10 16:23] ForNeVeR commented on #45
I knew it would be a tricky because of how you handle the text stream, so no worries, we'll get it sorted. It's very cool  that you've done it. Some issues I've noticed:

1. Mouse selection would be cool. I think that simple text selection with mouse gesture should be available, so I could move my mouse with the button clicked to select multiple lines of text.
2. Ctrl-A works okay (well, we cannot

[2015-12-10 17:05] RolandPheasant commented on #45
Re: mouse selection, I agree it is a must. It is something which at this stage I have not worked out how to do it. Maybe there is just some property to set on the ListBoxItemContainer.

I will have a look at the CTL-A issue tomorrow,I think I will have to add specific logic for it.  The gap the in the files is probably a hang up from a state before the ctl-a command was invoked.

Also if you grab

[2015-12-11 13:43] MendelMonteiro opened #55 "Select text in search results"
Copying values from filtered results is a classic use case

[2015-12-11 16:58] RolandPheasant commented on #55
@MendelMonteiro  In the un-released version, you can copy selected rows to the clipboard using ctl-c or the right click context menu (there are one or 2 bugs still)

Also I am working on a simple viewer for viewing a filtered line in position in the  original file.

These 2 will give you all the full range of select / copy options

[2015-12-11 18:43] #49 closed

[2015-12-13 14:25] MendelMonteiro commented on #55
Great to hear you had this in mind already!

[2015-12-13 17:24] RolandPheasant commented on #55
I have the first cut done.  Check out the image on the Tail Blazer homepage.

If you want to try / test  it just build from the latest code

[2015-12-13 17:26] RolandPheasant commented on #45
@ForNeVeR It should be a lot better now. Also got the mouse selection thing working. Would you like to build and try again.

Btw: check out the image [here](https://github.com/RolandPheasant/TailBlazer) as mult-searching can now be done

[2015-12-15 07:09] #55 closed

[2015-12-15 07:10] RolandPheasant commented on #17
For filtered results there is now a 'show inline' option which enables viewing the selected row in postion

[2015-12-15 07:10] #17 closed

[2015-12-15 22:50] RolandPheasant commented on #53
@khellang I have integrated your code and renamed the class to FileNamer.   The tabs will now automatically rename when opened. Btw I will probably rename it again to FileLabeller!

See [FileHeaderNamingJob.cs](https://github.com/RolandPheasant/TailBlazer/blob/master/Source/TailBlazer/Views/FileHeaderNamingJob.cs).

[2015-12-16 00:41] khellang commented on #53
Cool! So it works as expected?

I guess it could make sense to have the same file open multiple times with different filters?

[2015-12-16 00:41] khellang commented on #53
In that case, it probably also make sense to include filters in the headers, or allow the user to name the tabs...

[2015-12-16 07:17] RolandPheasant commented on #53
Yes I like it so let's see how it rolls.

I would say allow the same file more than once, in which case append (1) or (2) etc and allow the user to change enter something they want.

[2015-12-16 21:59] RolandPheasant commented on #7
Got the basic concept up and running and to prove the point the system writing and reading recent files which are displayed in the hamburger menu.

@kmcginnes if you look at [RecentFiles.cs](https://github.com/RolandPheasant/TailBlazer/blob/master/Source/TailBlazer.Domain/FileHandling/RecentFiles.cs) and [RecentFilesToStateConverter.cs](https://github.com/RolandPheasant/TailBlazer/blob/master/Sour

[2015-12-16 21:59] #7 closed

[2015-12-17 14:52] MendelMonteiro opened #58 "Select characters within a result line (filtered or inline)"
When one wants to select a word or chars from a specific result line currently it's necessary to copy the line into a text editor and then copy the desired text.  It would be great to do this directly from TailBlazer.

[2015-12-18 15:19] kmcginnes commented on #7
Cool. I'll toy around with this and see if I can implement some other settings. Thanks!

[2015-12-18 21:23] RolandPheasant commented on #7
@kmcginnes I have purposely left some code in to show how versioning is handled. If you look, you will see that it is very flexible. The serialisation can change but this is always accompanied with a version check so no excuses for lost settings ever.

I am currently doing some setting for system wide stuff but would be delighted if you could look at the recursive layouts for the docking lib

[2015-12-20 20:13] #45 closed

[2015-12-20 20:14] #8 closed

[2015-12-20 20:14] #53 closed

[2015-12-22 15:30] MendelMonteiro opened #59 "Inline view scroll position randomly reset"
When showing search results with the inline view enabled I have noticed that if you scroll in the inline view after a short delay (a couple of seconds) the inline view will scroll back to it's original position.

[2015-12-22 15:32] MendelMonteiro opened #60 "Keep scroll position when switching between search results"
It would be great to remember the scroll position for each set of search results and reset it when switching between them.

[2015-12-22 15:42] RolandPheasant commented on #59
This is fixed in dev. The will merge the branches tonight

[2015-12-22 21:18] MendelMonteiro commented on #59
Man, your issue resolution response time leaves nothing to be desired...

[2015-12-22 21:23] RolandPheasant commented on #59
I had previously done the fix (I think). Can't do the merge as there are a couple outstanding issues.

However if you want a quick look at the new features including zoom and dark / light themes you can grab the branch ThemeAndOption and build it  yourself. The new options are on the hamburger menu

[2015-12-24 00:56] naveensrinivasan opened #61 "mono support"
It would be cool to have mono support which could make this work on non-windows platform.

[2015-12-24 05:12] RolandPheasant commented on #61
Definitely have to look into this. Have you ever built code for Mono before? I ask as I would need help

[2015-12-24 11:10] oniony opened #62 "Keyboard shortcuts for navigating file"
* The `↑` and `↓` keys do move line but they strangely highlight (lowlight?) the lines in grey and react incredibly slowly
* `Page Up` and `Page Down` likewise are unusably slow and suffer from the highlighting problem
* `Ctrl`+`Home` and `Ctrl`+`End` are (almost) universally implemented to mean 'top of file' and 'bottom of file' respectively but do nothing it TailBlazer.
* `Home` and `End` seem t

[2015-12-24 11:12] RolandPheasant commented on #62
I am aware of this and you can be assured the problem will soon go away.

However you raising it as an issue has pushed it up the priority queue.

[2015-12-24 11:14] naveensrinivasan commented on #61
@RolandPheasant  Yes I have. Here is a recent one for octokit https://github.com/octokit/octokit.net/pull/995.

[2015-12-24 11:16] RolandPheasant commented on #61
Cheers. I will take a look over xmas. And probably come back with a load of questions

[2015-12-25 00:20] 304NotModified commented on #62
+1

[2015-12-25 00:21] 304NotModified commented on #60
+1

[2015-12-26 00:24] Echarnus commented on #43
Will this enable to open files immediately from the file explorer with TailBlazer? Because I've noticed the application started but the file didn't open.

[2015-12-26 00:36] RolandPheasant commented on #43
That sounds like a bug to me.

[2015-12-26 10:27] davenewza commented on #51
Many of our logs get pushed to [Append Blobs](https://msdn.microsoft.com/en-us/library/azure/ee691964.aspx) in Azure Storage. It would be ideal having "appendages" updated straight to Tail Blazer.

[2015-12-26 14:56] RolandPheasant commented on #59
@MendelMonteiro could you try aha in on the latest build or release and let me know if it is fixed

[2015-12-26 14:57] RolandPheasant commented on #59
Any problems, reopen this issue

[2015-12-27 08:54] MendelMonteiro commented on #59
Will do in the new year as I'm away till then

[2015-12-27 09:04] RolandPheasant commented on #59
:+1:

[2015-12-27 22:05] dasjestyr opened #63 "Feature request: Save session"
The application should have the ability to save a session. That is, any group of logs should be savable as a named group.

Use case:
I have 10 virtual environments that run several components (think development, integration, staging, production, etc), each of which has it's own log file. I need to be able to switch between these sets rapidly as I debug them.

You can see how I implemented it in my

[2015-12-27 22:07] dasjestyr opened #64 "Feature request: capture selected lines"
The application should have the ability to pull out selected log lines into a different window and give me options such as saving the capture to a file, or emailing it, etc.

Use Case:
While debugging (myself or another user of the log tailer), the user may find some useful information that they need to share with someone else, and capturing that should be quick and easy. Think QA using the tailer

[2015-12-27 22:11] dasjestyr opened #65 "Feature request: snapshot/import session"
The application should have the ability to capture all logs in their current state for all logs currently open in the window.

Use Case:
A multi-component system will have a log for each component in the environment. If an error is encountered, it could be difficult to track down what component caused the error and what all of the variables were that were in play. By snapshotting everything at tha

[2015-12-27 23:33] RolandPheasant commented on #65
Obviously this app can never be in the league of swift tailer. Therefore it would be better to recommend the community to use that instead of this.

[2015-12-27 23:33] #65 closed

[2015-12-27 23:34] RolandPheasant commented on #63
Obviously this app can never be in the league of swift tailer. Therefore it would be better to recommend the community to use that instead of this.

[2015-12-27 23:34] #63 closed

[2015-12-27 23:35] RolandPheasant commented on #64
Obviously this app can never be in the league of swift tailer. Therefore it would be better to recommend the community to use that instead of this.

[2015-12-27 23:35] #64 closed

[2015-12-28 12:26] GMTA commented on #14
I've been testing version 0.5 and there are two major issues in the way it handles tailing my log files:
* CPU usage is maxing out on a moderately updated log file (<1 MB, regular line length)
* Sometimes the UI seems to "hang" on a new line, becoming jittery and resuming normal operation after about half a second. This also happens when scrolling through files without updates happening.

[2015-12-28 13:11] RolandPheasant commented on #14
The only time I have seen performance suffer is when there are very long lines in the log file. Is this the case for you? Is so then I am aware of the issue.

Is it possible for you to upload a sample file here so I can open it on my machine, or is the content sensitive?

[2015-12-30 03:51] kstrauss opened #67 "Filter based on regex"
A feature request
It would be nice to be able to do filter on a regex expression. Not sure how the UI should evolve as you would need to be able to have both the simple match that is currently done, plus the option of being regex and handling regex parsing errors.

[2015-12-30 07:37] RolandPheasant commented on #67
I thought there already was a regex searh request raised but checking through there is not.  This should be done in the near future.

The only reason I have not enabled regex search yet is I have yet to be inspired by how the option should be present.  I will probably do something basic and refine it further down the road

[2016-01-03 08:22] RolandPheasant commented on #14
@GMTA My suspicion was correct.  I generated a file with lines which are greater than 10kB each and Tail Blazer ground to a halt

Now I know what the issue is I will work out a solution

[2016-01-03 08:27] RolandPheasant opened #68 "Virtualise horizontal scrolling"
When a file consists of very long lines of text there is a severe performance hit in Tail Blazer. To reproduce I generated a 10mb file with each line being approx 10kb wide.  In this case all aspects of performance is very slow.

The solution is to apply horizontal virtualisation.

[2016-01-04 12:29] MendelMonteiro commented on #59
I've just pulled and rebuilt on the master branch and still see the same behaviour

[2016-01-04 12:42] RolandPheasant commented on #59
Would it be possible for you to capture this behaviour using screentogif? Then I would be able to see what you mean.

[2016-01-04 12:57] MendelMonteiro commented on #59
![tailblazer inline scroll reset](https://cloud.githubusercontent.com/assets/1752566/12090011/052eb276-b2eb-11e5-9f43-7bd76d07b265.gif)

[2016-01-04 12:59] RolandPheasant commented on #59
Thanks. I will try and reproduce later

[2016-01-04 16:44] roman-bl opened #69 "Paste into TailBlazer from clipboard"
Would be a really nice feature to be able to copy paste some selection into Tail Blazer from clipboard.
Use case:  I have  a large stack trace that I would like to "TailBlaze".  Right now I would have to create a file copy the stack trace, save file, only then open with the app.

Other than that, very cool app :+1:

[2016-01-04 16:49] RolandPheasant commented on #69
Thanks for the positive comment.

You should be able to multi select and CTL+c. Alternatively you can right click and select the copy button.

If not there is a bug so please let me know how you get on.

Also,are you using the latest code?

[2016-01-04 16:55] RolandPheasant commented on #69
I just reread you comment! Bit different than I thought. Will get back to you

[2016-01-04 19:57] Echarnus commented on #43
Sorry for the late reaction. Tested it out with the newest build (v0.5245) and I still got that problem. My OS is Windows 8 SP1. Got the same problem at Windows 10. Default application set to Tail Blazer of course.

[2016-01-04 20:25] RolandPheasant commented on #43
Just got it working on my computer. Will be in the next release

At some point I will include some file association options as part of TailBlazer

[2016-01-04 20:46] #43 closed

[2016-01-05 10:20] ischas opened #70 "File not found message"
Tail Blazer should raise a message if a file is not found (e.g. if you open a file from the "Recent Files" list). By now, it only shows the tail blazer icon and a spinning segment.

The logfile shows:
[code]

[2016-01-05 10:27] RolandPheasant commented on #70
I agree and it is on my to do list.  Also it should display a message when a network becomes unavailable

Thanks for raising the issue as it means I will not forget.

[2016-01-07 07:51] Echarnus opened #71 "MultiFile"
As the name suggest, enable automatically opening other files by a file name pattern. This is useful for when example your logs are splitted by day.

[2016-01-07 07:53] RolandPheasant commented on #71
I already have plans for this

[2016-01-07 20:08] RolandPheasant commented on #16
I have added options to allow highlighting without filtering, and vice versa

These are available from the settings button on each window

[2016-01-07 20:08] #16 closed

[2016-01-08 16:48] drw112 opened #72 "Case sensitive basic filtering option"
Could you provide a check box or option to allow for case sensitive filtering?  This would be helpful when searching for "Error" level log4net messages but ignoring INFO level messages that contain the text "error"

[2016-01-08 17:08] RolandPheasant commented on #72
I don't see why not

[2016-01-10 21:42] #12 closed

[2016-01-12 03:00] yindongfei opened #74 "TailBlazer crash and this is the exception."
tailblazer is compiled myself yesterday using the latest code from github, it crashes and i got an exception for log file.

2016-01-12 10:35:43,652 ERROR 18 UhandledExceptionHandler index out of range.
argument: index
System.ArgumentOutOfRangeException:  index out of range.
argument: index
   在 System.ThrowHelper.ThrowArgumentOutOfRangeException(ExceptionArgument argument, ExceptionResource resour

[2016-01-12 05:37] RolandPheasant commented on #74
I have fixed this but it is not released.  Could you grab the latest code, recompile and let me know if you get it again.

If you do reopen this issue.

[2016-01-12 12:22] RolandPheasant commented on #74
BTW if you get the problem again could you also attached the log file which you were using when the crash happened.

This would help me to replicate the issue

[2016-01-14 13:34] govert commented on #62
+1

[2016-01-17 15:54] #72 closed

[2016-01-17 21:10] CasperTDK opened #75 "create new 0.6 release"
The current 0.5 is pretty far behind master branch! :)

[2016-01-17 21:16] RolandPheasant commented on #75
I am almost done with the regex search and highlighting, after which I will do a release.

Probably this week

[2016-01-17 21:40] CasperTDK commented on #75
Cool!

[2016-01-18 20:13] RolandPheasant commented on #75
@CasperTDK  the release will probably be delayed until next week as

a) I have an issue with dynamic data (another os project) to deal with
b) In certain conditions reg ex highlighting can be slow.

I will release when these are fixed,

In the meantime if you want something more up to date and are willing to be a guinea pig you can get the latest build here  [Latest Build](https://ci.appveyor.com/

[2016-01-18 21:09] drw112 commented on #72
Thank you for implementing this!

[2016-01-18 21:12] RolandPheasant commented on #72
You are welcome. I have not released it yet, but if you want a preview you can check out the latest build see [Latest Build](https://ci.appveyor.com/project/RolandPheasant/tailblazer/build/artifacts).

[2016-01-21 08:38] CasperTDK commented on #75
Thanks. I am using the latest build artifact now and seems to work fine!

[2016-01-21 08:39] CasperTDK commented on #58
+1

[2016-01-21 08:50] RolandPheasant commented on #58
I have encountered exactly the same use case when using Tail Blazer.

What I propose is to have a text mode which when enabled will change what is displayed into rich text. This would also for selected text highlighting.

[2016-01-21 09:30] CasperTDK commented on #58
Hmm, maybe, but speed is my primary concern. So I do not want to select a line, active rich text and then select the value.

Preferably I would just double click on '49' on this line and it is selected:

"System.Web.HttpCompileException (0x80004005): c:\Projects\RegionMidt-CMS\Source\Mediaworkers.RM.Internet\Views\Shared\Layout\_Footer.cshtml(49): error CS1502: The best overloaded method match for

[2016-01-21 09:32] RolandPheasant commented on #58
If I will get my thinking hat on

[2016-01-21 09:37] CasperTDK commented on #58
The more I think about, I would probably expect the behaviour to be bound to 'double-click'
So if you double click, the mark the selected word or value (space being the delimiter).

[2016-01-21 10:16] ghost opened #76 "Not a issue:-)"
Have been following you and James's work on GIT Hub for a while now. The draggablz control has found an appropriate place in TailBlazer! May I say its an awesome looking (and working too) app.
Why don't you use this as a subject to write some real cool Rx article (I have been looking for something similar for  along time).
I invite you to read my article on MVVM:
http://www.codeproject.com/Article

[2016-01-21 10:36] RolandPheasant commented on #76
I have to first of all thank you for the kind words. When I receive positive feedback it really motivates me to make my OS code even better.

I do actually intend to write a blog series about tail blazer and the use of RX within it. I think there should also be at least one article on the use of mvvm and the awesome libraries which TB is based on.

I already have a blog site http://dynamic-data.or

[2016-01-21 10:37] RolandPheasant commented on #76
I also want to say your article on code project looks brilliant. I have bookmarked it and will read it soon

[2016-01-26 22:59] RolandPheasant commented on #62
Guys, finally lifted my head up from doing some search / highlight / regex stuff and taken a look again at this one.

90% of the problem is the list box which displays the lines loses focus after the keyboard events fires. So for example if you press PageUp it correctly goes to the first line. When you press it again it correctly goes to the first line on the   previous page. At that point focus i

[2016-01-26 23:14] RolandPheasant commented on #75
Almost there.  Hopefully a release next week - I am just holding back as I want it to be rock solid

[2016-01-26 23:20] punker76 commented on #62
@RolandPheasant I get the same problem in my player. It was the delete action that breaks my selection and focusing, maybe [my solution](https://github.com/punker76/simple-music-player/blob/master/SimpleMusicPlayer/SimpleMusicPlayer/Core/BaseListBox.cs) can help you a little bit.

[code]

[2016-01-27 21:50] RolandPheasant commented on #62
@punker76 my problem is a little different but your solution got me on the right tracks. The page up / down are now working well so thanks very much.

The other navigation oddities still need sorting out but the problems are in my code only.

[2016-01-27 21:52] punker76 commented on #62
@RolandPheasant and again a little step forward :+1:

[2016-02-05 11:00] MendelMonteiro commented on #74
I've just had the same exception - what information would help diagnosing this?  a dump file?

The log file is probably not super useful as it was being written to and is no longer the file that caused the crash

[2016-02-05 11:04] RolandPheasant commented on #74
I got the same the other day as well. It is an issue in the dynamic data library (another of my OS projects). I will fix it there. This issue will be my new priority.

[2016-02-08 09:06] RolandPheasant commented on #74
@MendelMonteiro I have hopefully fixed the problem in dynamic data now.

To try it out you will need to either build the latest source code or grab the artifacts from the build server (link on readme ).

[2016-02-08 11:48] MendelMonteiro commented on #74
Cool, we had also seen this bug in other code which uses DynamicData but we thought it was a bug in the calling code.  It's great to hear that you've fixed this as hopefully now we can stop investigating the other bug.

[2016-02-08 11:51] RolandPheasant commented on #74
Fingers crossed that we will not encounter this one again.

[2016-02-08 12:03] RolandPheasant commented on #74
If you need to try the latest dynamic data code, see https://github.com/RolandPheasant/DynamicData/issues/23

[2016-02-08 19:15] #74 closed

[2016-02-08 20:25] RolandPheasant commented on #70
@ischas I have been mean to do this one for a while but at last I got it done.

If for any reason a file cannot be opened or tailed, this message will appear.

![image](https://cloud.githubusercontent.com/assets/9879866/12897848/cb36f0d8-cea1-11e5-97b6-7020292e47c7.png)

Polling continues and when the file can be opened tailing continues as usual

[2016-02-08 20:26] #70 closed

[2016-02-08 20:37] RolandPheasant commented on #25
TailBlazer is on chocolatey and for at least the medium term will exist there only

[2016-02-08 20:37] #25 closed

[2016-02-08 20:38] #76 closed

[2016-02-08 22:22] RolandPheasant commented on #67
@kstrauss  I have given this a shot. See [release notes](https://github.com/RolandPheasant/TailBlazer/blob/master/Documents/Realease%20v0.6.md). Let me know how you get one

[2016-02-08 22:22] #67 closed

[2016-02-08 22:23] RolandPheasant commented on #75
@CasperTDK  Done. See [release](https://github.com/RolandPheasant/TailBlazer/blob/master/Documents/Realease%20v0.6.md)

[2016-02-08 22:23] #75 closed

[2016-02-09 20:05] gfody commented on #51
I use powershell to tail logs across many servers with a command like this:
`icm -comp $servers -cred $me -script { gc some.log -last 1 -wait }`

It would be great to pipe this to TailBlazer - ideally it would create tabs for each distinct $_.PSComputerName

[2016-02-10 07:09] RolandPheasant commented on #51
@gfody great suggestion

[2016-02-10 07:49] MendelMonteiro commented on #59
I think this issue should be re-opened so it doesn't get forgotten

[2016-02-10 07:53] RolandPheasant commented on #59
I will try to replicate

[2016-02-10 23:29] jkoritzinsky commented on #61
Since WPF isn't available on Mono, you could look at [Perspex](GitHub.com/Perspex/Perspex). It's a cross-platform WPF-style UI toolkit that's currently in alpha. That way there would be minimal needed change in the codebase since WPF idioms still work in many cases.

[2016-02-11 08:47] YannickMeeus opened #77 "Scrollbar arrows not working"
Both the vertical and horizontal scrollbar arrows don't seem to actually perform any scrolling.
Also, clicking on a position in the horizontal scrollbar does nothing.

This is on version 0.5.245, installed via Chocolatey.

[2016-02-11 08:53] RolandPheasant commented on #77
The arrows work in v0.6. However clicking on the horizontal scroll bar still doesn't work.

I will get this fixed for 0.7

[2016-02-11 09:03] YannickMeeus commented on #77
Cool, should have known that it'd be fixed in the dev version. I'll pull it down myself and work against that, just so I don't raise silly things any more.

[2016-02-11 09:03] #77 closed

[2016-02-11 12:25] ischas opened #78 "Copy to Clipboard doesn't work in several circumstances"
When I left-click on a line and then copy it by the context menu, the clipboard is empty.
When I do not left-click on a line and directly copy it by the context menu, it works.

When I click twice on a line and copy it by `CTRL + C`, the clipboard is empty.
When I click once on a line and copy it by `CTRL + C`, it works.

[2016-02-11 12:35] RolandPheasant commented on #78
Which version are you using?

[2016-02-11 13:09] ischas commented on #78
0.6.340

[2016-02-11 13:11] kstrauss commented on #67
a simple case seems to work. Thanks definitely helps.

[2016-02-11 20:38] viswaug opened #79 "Different search results should be highlighted in different colors (preferably customizable)"
Use BareTail to view my log files. It has this great feature which lets you to highlight "DEBUG", "WARNING", "ERROR" messages in different color based on different color for different search term. That would be a gerat addition to TailBlazer also.

[2016-02-12 08:37] zolrath opened #80 "Drag and Drop has no effect"
When I attempt to drag and drop a file onto Tail Blazer end up with the :no_entry_sign: cursor.
I've tried a variety of file types and the results have been the same on all of them.

Running Windows 10 and I do have .NET 4.6.1 installed.

[2016-02-12 08:40] RolandPheasant commented on #80
Can you open a file by pressing the open file button (one of the buttons on the title bar)

[2016-02-12 10:31] zolrath commented on #80
Yes! I can path to it and everything performs as expected once open, it's only
the drag and drop functionality that doesn't work. On Fri, Feb 12, 2016 at 12:40 AM, Roland Pheasant < notifications@github.com [notifications@github.com] > wrote:
Can you open a file by pressing the open file button (one of the buttons on the
title bar)

—
Reply to this email directly or view it on GitHub
[https://gith

[2016-02-12 10:40] RolandPheasant commented on #80
This is odd and I have never seen it before. Also drag and drop is code that was writen in week 1 of the project so I am perplexed.

[2016-02-12 15:22] opus131 opened #81 "Support zoom via mouse or keyboard"
Having to open the modal sidebar just to change font-size is a bit cumbersome.
Something like ctrl +/- or ctrl + mousewheel would be nice. Or maybe just add it to the menu-bar.

[2016-02-12 17:39] RolandPheasant commented on #81
Ctrl+ mouse wheel should work.

Keyboard and mouse behaviour is topic which I still have not managed to get totally right. However it is on my list.

[2016-02-12 18:04] opus131 commented on #81
Thank you for your quick reply.

It doesn't for me (Windows 10, 64bit).

But anyhow thank you very much for this great tool. It is already very useful as it is...

[2016-02-12 18:23] RolandPheasant commented on #81
Which version are you on?

[2016-02-12 18:52] zolrath commented on #80
Another diagnostic point is that I'm using a Surface Book, if the presence of touch + pen input interferes with your drag and drop in some way?

[2016-02-12 18:57] RolandPheasant commented on #80
That's definitely a clue. I will do some research

[2016-02-12 19:42] opus131 commented on #81
v0.6.340

[2016-02-14 07:08] alexandernyquist commented on #80
Could it be that you are running Tail Blazer as Administrator and the file is owned by someone else, or vice versa? I observe the same behaviour, navigating to the file works but drag and drop does not.

[2016-02-14 17:28] zolrath commented on #80
Yes! If I launch Tail Blazer from an Administrator cmd prompt Drag and Drop doesn't work but non-Administrator did allow me to drag and drop.

[2016-02-14 17:54] RolandPheasant commented on #80
Any ideas about how I work around this one?

[2016-02-14 18:22] zolrath commented on #80
This article is quite old but seems to explain the the issue.
http://blogs.msdn.com/b/patricka/archive/2010/01/28/q-why-doesn-t-drag-and-drop-work-when-my-application-is-running-elevated-a-mandatory-integrity-control-and-uipi.aspx

It seems to be a security feature but you can explicitly opt-in to allowing specific messages through from lower-level processes.

[2016-02-17 02:50] neuecc commented on #51
Thank you, `TailBlazer` is great tool!

So I've created `EtwStream` https://github.com/neuecc/EtwStream as logging Event Tracing for Windows.
It is similar to `Tx` but it features more in Realtime.

If supports plug-in, I'll add EtwStram for TailBlazer.

By the way, ETW has structured log events.
Currently I'm using LINQPad for dump ETW structured events.
If TailBlazer supports keeping structure,

[2016-02-17 07:24] RolandPheasant commented on #51
@neuecc etw looks excellent and I see no reason it could not be plugged in.

I will take a more detailed look and get back to you.

[2016-02-18 08:48] ischas opened #82 "Show whole source name"
Background: I run a service in debug- and release-mode, Both produce a log with the same name, but in different folders.

Suggestion: Show the whole path of a file when you hover over the file name.

[2016-02-18 09:13] ischas commented on #82
Okay, my issue isn't really one (at least the background is wrong because the difference in the path is shown), but the suggested feature would still improve this great tool.

[2016-02-18 09:16] RolandPheasant commented on #82
I was thinking that I could show it on the bottom bar. Also make the text a hyperlink to open the file / or at least the folder

[2016-02-18 13:03] thezim commented on #82
Ran into this last night as well. Had the same log files opened on two different servers and could not tell which was which.

[2016-02-20 13:27] RolandPheasant commented on #82
@thezim @ischas Next version, the location will show in the status bar

![filelocation](https://cloud.githubusercontent.com/assets/9879866/13196921/842ba7b4-d7d5-11e5-8e32-3a6fa62709b8.gif)

Also added opens to open the file or folder

[2016-02-20 14:56] #82 closed

[2016-02-20 15:03] RolandPheasant commented on #79
@viswaug here is a spolier - this will be available in v0.7

![selected highlighting and symbols](https://cloud.githubusercontent.com/assets/9879866/13197315/f7f25866-d7e2-11e5-9a1a-33b9ef3c3e55.gif)

[2016-02-21 12:06] RolandPheasant commented on #59
@MendelMonteiro I got it at last. Fixed in v0.7 (to be released soon). The position in the bottom viewer was being reset when the underlying file was updated.

The behaviour is:

-  when you initially show the inline view, it scrolls to line 0
-   when you select an item, it scrolls to that item.
-  when a selected item scrolls of out view, only then does it reset to zero

[2016-02-21 13:55] RolandPheasant commented on #80
@zolrath @alexandernyquist  interesting. I tried running TB as an administrator and sure enough drag and drop failed. As stated, I could use ChangeWindowsMessageFilterEx  but that is not recommended and frankly is sucks.  Need to have a think about this one...

[2016-02-21 13:56] #59 closed

[2016-02-21 15:46] mrtaikandi commented on #79
:+1:

[2016-02-22 08:30] MendelMonteiro commented on #59
Cool, will pull and rebuild

[2016-02-22 09:22] RolandPheasant commented on #59
Let me know how it goes, and also check out the new highlight and colour options

[2016-02-23 11:00] RolandPheasant commented on #79
Available in v0.7

[2016-02-23 11:00] #79 closed

[2016-02-25 09:17] kampak1111 opened #83 "Reopen files on start"
Hi,

It would be useful if TailBlazer at start could open the same files that were opened when it was closed. It sometimes takes a while to open all required files from the Recent files list. Also it could remember where the panel with certain file log was placed, so it opens it exactly as it was before closing application (i.e. one file on left other on right). If the file is not available any mo

[2016-02-25 09:24] RolandPheasant commented on #83
I had previously made a start on this.

Will get back on the case soon.

[2016-02-25 15:53] ischas commented on #78
This is getting weird. Update for 0.7.0.:

Copy to clipboard now behaves really strange (but different to the first mentioned, so I struck it in the original issue).

Immediately right click on one line, copy to clipboard is fine.
Now right click a second line and copy it to clipboard, the clipboard now has the formerly clicked line and the new line in clipboard.
This continues until you left clic

[2016-02-25 16:10] RolandPheasant commented on #78
This one should be so easy for me to fix but it has proved to be surprisingly difficult as data is virtualized and I need to manually track off screen selections. Plus there is a problem with the built in view window which gives strange selection behaviour when a selected item scrolls off view. Trying to manage that messes up user selection.

It seems that each time I fix one of the problems anoth

[2016-02-26 15:41] mgnslndh opened #84 "Go to head of file"
I would like to be able to go to the head of the file. The `Home` button does not seem to work which would have been nice. Perhaps also a tool button. This goes for Go to tail as well.

[2016-02-27 13:24] thoemmi opened #85 "TailBlazer 0.7 crashes at start-up"
TailBlazer crashes on my machine, both the released version 0.7 and the current source code. The exception is thrown in the Dragablz library, bu I don't know if the issue is in that library or in TailBlazer, so I'm reporting it here.

Anyway, here's the stacktrace from the log file:
[code]
I run Windows 10 with the latest Insider build 14271.

[2016-02-27 13:30] thoemmi commented on #85
I cloned Dragablz and could reproduce the issue in its sample app. So everything's fine with TailBlazer :wink: I'll open a new issue in the Dragablz repository.

[2016-02-27 13:30] #85 closed

[2016-02-27 13:46] thoemmi commented on #85
For reference: https://github.com/ButchersBoy/Dragablz/issues/88

[2016-02-27 16:08] RolandPheasant commented on #85
I love the issues which close themselves. These are the very best ones.

[2016-02-27 16:25] RolandPheasant opened #86 "Persist more user settings"
There is already a request for persisting the layout when the system is closed https://github.com/RolandPheasant/TailBlazer/issues/83.

Additionally the following will also be implmented

1. Store search text and highlight options for each file. When as file is opened again it will load those settings.
2. Store colour and icon settings for any search text entered, When the search text is used agai

[2016-02-29 09:00] adamclifford opened #87 "Chocolatey install fails"
When installing TailBlazer from Chocolatey, using the command,  choco install tailblazer the install fails with the following output:-

C:\Users\~>choco install tailblazer
!!ATTENTION!!
The next version of Chocolatey (v0.9.9) will require -y to perform
  behaviors that change state without prompting for confirmation. Start
  using it now in your automated scripts.

  For details on the all new Cho

[2016-02-29 09:14] abuzhynsky commented on #87
@adamclifford You have deprecated version of Chocolatey installed. Chocolatey 0.9.9 was a big [release](https://github.com/chocolatey/choco/wiki/ReleaseNotes#099-march-3-2015) which added new helper function **Install-ChocolateyShortcut**. In your case TailBlazer should be installed but without desktop shortcut.
Anyway I'd recommend you to update your Chocolatey client to 0.9.9.x version and reins

[2016-03-01 20:32] Beguiled opened #88 "Scroll through open tabs with mouse"
This is simply an enhancement request. Currently, when multiple tabs are present at the top of the application, arrow buttons are provided to scroll horizontally through them. It would be useful to capture the mouse wheel scroll activity as another way to move the tabs horizontally.

[2016-03-03 19:12] RolandPheasant commented on #87
@adamclifford I am closing this because I assume the comment by @abuzhynsky has solved your problem

[2016-03-03 19:12] #87 closed

[2016-03-03 19:15] RolandPheasant commented on #84
@mgnslndh  I have almost finished the persistence of layout and when I have my next big task is to sort out keyboard navigation. I think the idea of a head and tail button has merit.  When I can think of a good way to present it I will do it.

[2016-03-04 11:51] davenewza commented on #69
This enhancement would be great for me.  In some cases it would be useful to paste logging data directly from the clipboard into TailBlazer so to take advantage of the rich filtering features.

[2016-03-04 14:48] tdietrich513 commented on #51
This would be a very useful feature for streaming logs from cloudfoundry as well. :+1:

[2016-03-06 11:53] RolandPheasant commented on #83
@kampak1111  done on the latest build

[2016-03-06 11:53] #83 closed

[2016-03-06 11:54] RolandPheasant commented on #86
done and dusted

[2016-03-06 11:54] #86 closed

[2016-03-06 12:13] RolandPheasant commented on #52
@kmcginnes It's been a while this is done now.

[2016-03-06 12:13] #52 closed

[2016-03-06 16:53] kmcginnes commented on #52
Haha. I'm sorry man. I got caught up in some other things and never got back to this. I'll download the latest and check it out.

[2016-03-06 17:48] RolandPheasant commented on #52
No problem. It is been something I had been meaning to do for a very long time os happy to have it done now

[2016-03-07 13:48] Beguiled opened #89 "Highlight tab (or otherwise indicate) when new activity is present"
It would be nice to have some sort of indicator to show when new file activity is present on a tab that is not currently selected. This would in turn make it easier to check on logs as they update in case you're not actively watching one of them.

[2016-03-07 14:12] RolandPheasant commented on #89
Good idea. I will have a good think about it.

[2016-03-07 17:30] BO45 opened #90 "Explorer integration"
Explorer context menu integration would be awesome.

[2016-03-16 20:08] RolandPheasant commented on #41
@tomekka this is done and dusted and will be available from the next release

[2016-03-16 20:08] #41 closed

[2016-03-16 20:10] RolandPheasant commented on #68
Tail blazer is now very fast even with files with very wide lines

[2016-03-16 20:10] #68 closed

[2016-03-17 19:28] barser opened #91 "File encoding selection for non-english characters"
Please consider adding support for different file encodings. For example, win-1251 is common for cyrillic characters.

[2016-03-17 19:58] RolandPheasant commented on #91
Could you upload an example win-1251 so I could try it out

[2016-03-17 20:04] barser commented on #91
Here it is!
The last part of rows referenced to DocumentRoutesRegistrar.cs are in win-1251 encoding...
Thank you!

[uf_debug_20160227.txt](https://github.com/RolandPheasant/TailBlazer/files/178573/uf_debug_20160227.txt)

[2016-03-17 20:09] barser commented on #91
Now it looks like:
![2016-03-17 23-06-41 tail blazer](https://cloud.githubusercontent.com/assets/8071147/13859596/4189774a-ec95-11e5-80c5-52d9fed86f40.png)

[2016-03-17 20:11] barser commented on #91
And it would be nice if it look so:
![2016-03-17 23-09-27 tail blazer](https://cloud.githubusercontent.com/assets/8071147/13859664/9469a46c-ec95-11e5-8fc1-98df95934674.png)

[2016-03-17 20:42] RolandPheasant commented on #91
Thanks.

Hopefully I will be able to look at that soon

[2016-03-18 14:37] jbuedel opened #92 "Support clearing out the tail window"
Often while tailblazing some log file, I'll get to a point where I want the old logs out of the way. I go outside Tailblazer and delete or empty the log file manually.  I'd like to be able to clear the file right inside Tailblazer.

I suggest having a way to clear out the tail window, much like I might `clear` out a console window. That is, I click a button or what have you, and the contents of th

[2016-03-18 14:41] jbuedel opened #93 "Launching tailblazer from command line blocks console usage until it's shutdown"
I have TailBlazer installed via chocolatey (which I suspect is related to the issue). When I launch `tailblazer` via the command line it blocks the current console until TailBlazer is shutdown.  I'd rather it launch and get out of the way (like `gvim` or `notepad++` does, for instance).

[2016-03-18 14:51] jbuedel opened #94 "Allow spacebar to toggle the "Follow Tail" check box."
My use case would be so I can quickly "pause" a tail, review what's on the screen, then hit space bar to "resume" (which actually just jumps to the tail again).

[2016-03-18 14:55] RolandPheasant commented on #92
Funny thing is a work colleague has been asking for this functionality so I will definitely do it

[2016-03-18 14:56] RolandPheasant commented on #93
I will take a look

[2016-03-18 14:57] jbuedel opened #95 "Certain file and search combination creates a filter that can't be removed."
1. Open [this](https://github.com/chocolatey/choco/blob/master/.gitignore) file from your local disk. (Nothing special about it, just a publicly available file I happen to have on hand.)
1. Click into the search box.
1. Type 5 spaces.  Press Enter
1. Clicking the green X to remove the filter does not remove the filter.

[2016-03-18 15:01] RolandPheasant commented on #94
Pause short cut is a good idea

[2016-03-18 15:02] abuzhynsky commented on #93
@jbuedel @RolandPheasant I'm Chocolatey package maintainer. The problem exists. I'll fix it in package containing next release.

[2016-03-18 20:28] abacaj opened #96 "Feature request - split screen log files."
I have two different dated log files, would of been great if I can split the screen horizontally and compare side-by-side.

[2016-03-18 20:30] abacaj commented on #96
Looks it already exists by drag and dropping - thought It would be a right-click option. Can close this.

[2016-03-18 20:30] #96 closed

[2016-03-18 20:43] RolandPheasant commented on #96
I love the issues which solves themselves like this

[2016-03-21 14:17] patchandthat opened #97 "Windows Installer"
Just started using Tailblazer at work, big fan, two thumbs up.

Has there been any thought about putting together an installer, or if not, how would you feel about it?

Personally, I'd like to be able to launch from my start menu/search more easily, and an installer would also cover #90.

If there's interest in having this, I'd happily put something together with WiX and send a PR.

[2016-03-21 21:30] Peter-B- commented on #81
For me `Ctrl` + mousewheel works on the tab bar (the light green one).

It does not in the gray area.

My guess is, that `VirtualScrollPanel.MouseWheelUp` swallows the `Ctrl` + mousewheel.

Maybe that helps.

[2016-03-21 21:40] RolandPheasant commented on #81
There is a general issue with keyboard as well a mouse navigation. Part of the problem is the way I virtualized the data - it effects focus of controls. Horizonal virtualization is now working very well and I will soon be rewriting the vertical virtualisation. After that I will tackle all keyboard and mouse issues.

And btw you are probably correct about the vsp.mousewheelup causing an issue

[2016-03-22 16:00] RolandPheasant commented on #97
Thanks for the double thumbs up - much appreciated.

Although an installer would be good for registering file associations and creating a short cut, it would also mean more maintenance. Currently there are only 2 files for deployment. The exe and a log file.

Also where would you suggest hosting the MSI? Or would you expect it to be on the git release pages?

[2016-03-22 16:12] thoemmi commented on #97
I would just host in on the GitHub release page. At least that's how I do it for [one of my applications](https://github.com/thoemmi/Solutionizer/releases). It even checks the release page regularly and notifies the user if there's a new release available.

If you agree I could contribute a similar experience to TailBlazer.

[2016-03-22 19:47] patchandthat commented on #97
Appveyor supports permanent links to build artifacts so you could have a releases branch and link to the latest version that way.  Github releases is also good.  I think hosting only gets complicated if you want to have an auto-update feature, and even then it comes down to reading a feed of what versions are available, the installers themselves could still be on Github.

I'm thinking initially I'

[2016-03-22 20:06] RolandPheasant commented on #97
@thoemmi @patchandthat I think I am convinced.

Just one question to @patchandthat, what does creating a managed bootstrapper involve?

[2016-03-22 20:14] thoemmi commented on #97
I've never used a bootstrapper before, just created plain setups using WiX.

[2016-03-22 21:59] patchandthat commented on #97
So as well as having a wix project that builds your actual MSI, you have a bootstrapper project, which is essentially just a package of your MSI and any prerequisite MSIs which run through a linear install sequence.

The managed application side of things is a bunch of class libraries which get embedded in the bootstrapper and contain the WPF interface you want to show during the install sequence,

[2016-03-23 10:14] RolandPheasant commented on #97
@patchandthat I am convinced. Do you want to do it?

[2016-03-23 12:25] patchandthat commented on #97
@RolandPheasant Yes, I'd be happy to.

If you use Resharper, Stylecop, or anything of that ilk could you export your settings at some point to make it easy for me to follow your coding style?

[2016-03-23 12:47] RolandPheasant commented on #97
Excellent.

I only use resharper out if the box styles

[2016-03-24 09:10] JohannesSchmidt42 commented on #93
@jbuedel in your command line just write:
start tailblazer.exe mylog.txt

[2016-03-24 13:57] jbuedel commented on #93
@JohannesSchmidt42 It does as you say, but also leaves a console window hanging around.

[2016-03-31 17:28] tdietrich513 opened #99 "Either support or suppress color escape sequences"
When I use tailblazer on a log file which had been captured by a service pushing colors, it shows the contents of the color code.

example output:

[code]

How it looks in Tailblazer:
![image](https://cloud.githubusercontent.com/assets/445632/14184679/54a82e16-f744-11e5-8c85-4706f5676e00.png)

It would be cool if tailblazer could just not display the color codes, but even cooler if it used it to c

[2016-03-31 17:34] RolandPheasant commented on #99
Not sure how that would be done but I could take a look.  Could you upload this file so I got something to experiment with?

[2016-04-01 12:13] tdietrich513 commented on #99
Sure, here's a log file with color escapes.
[gapi.txt](https://github.com/RolandPheasant/TailBlazer/files/199542/gapi.txt)

What you're looking for is the escape character (unicode U+001B	or &#027;), followed by [, followed by some numbers and possibly semi-colons, followed by the character m. I think a regex in the form `\u001b\[[0-9;]+m` should do the trick.

[2016-04-01 12:18] tdietrich513 commented on #99
If you wanted to support the colorization instead of suppressing it, here is a nice page with some charts on what numbers do what: http://misc.flogisoft.com/bash/tip_colors_and_formatting
You'd have to extract each of the numbers (semi-colon seperated) and apply the color changes in the prescribed sequence.

[2016-04-01 12:47] RolandPheasant commented on #99
I will take a look soon. Hopefully next week

[2016-04-01 17:00] tdietrich513 commented on #99
If you have a suggestion of where this kind of functionality should be implemented I can see about sending you a pull request.

[2016-04-01 17:11] RolandPheasant commented on #99
I was thinking

1. Scan a file on a seperate thread to try and detect whether there are any colour codings used.
2. If found give user option to either use or suppress or use them - just be a toggle switch somewhere
3. There is already some specific functionality which splits text up into coloured parts. It would be plugged in here.

[2016-04-01 17:13] RolandPheasant commented on #99
Actually 1) can just scan visible text only and keep scanning until a colour char is found - should be quite cheap

[2016-04-01 17:15] RolandPheasant commented on #99
If you take a look at and familiarise yourself with the code I can guide you a bit more on the specific objects

[2016-04-10 09:44] ecourtenay opened #100 "TailBlazer fails to start with exception thrown from Dragablz.DragablzColors"
TailBlazer refuses to start, throwing an exception as logged below. I was using earlier versions without a problem - could this be a setting that has been serialized incorrectly?

[code]

[2016-04-10 09:55] RolandPheasant commented on #100
Try going to %localappdata%\tailblazer\ and renaming the whole folder, then try and open again. This hopefully should get you up and running again.

I cannot do a fix for at least another week. Also I will be doing a release in the next few weeks so o would be able to iron out these sorts of problems

[2016-04-10 10:06] ecourtenay commented on #100
I've renamed %LocalAppData%\TailBlazer out of the way, and I'm still getting an exception thrown from [here](https://github.com/RolandPheasant/TailBlazer/blob/master/Source/TailBlazer/BootStrap.cs#L37)

[code]

[2016-04-10 10:45] RolandPheasant commented on #100
Have you got vs2015? If so could you try the latest code from Github?

[2016-04-10 10:51] ecourtenay commented on #100
The last stacktrace was copied from VS2015 using the latest code. ;)

[2016-04-10 10:52] RolandPheasant commented on #100
Ok. I will fix it as soon as I get a chance (on holidays for a week)

[2016-04-10 10:58] ecourtenay commented on #100
No problem, just wanted to help and my XAML-fu is non existent.

If you need any more information just give me a shout

[2016-04-10 11:11] RolandPheasant commented on #100
I will do thanks, and I will let you know when the issue is fixed

[2016-04-10 11:16] RolandPheasant commented on #100
Alternatively, if you can fix it a PR would b welcome

[2016-04-10 16:08] RolandPheasant commented on #100
@ecourtenay I just did a check-in which may fix the problem. Could you get the latest code from github and try again

[2016-04-10 16:11] thoemmi commented on #100
The stacktrace is similar to the one I reported some time ago (#85). @ecourtenay Are you running an Insider build of Windows 10?
The issue is caused by Dragablz. I just submitted a pull request (https://github.com/ButchersBoy/Dragablz/pull/97). Once the PR is accepted and a new release is published, @RolandPheasant can update the package for TailBlazer.

[2016-04-10 16:19] RolandPheasant commented on #100
@thoemmi :+1:

[2016-04-10 17:28] ecourtenay commented on #100
@thoemmi - you're right, I'm on the Windows 10 Insider fast track; apologies, I should have mentioned that.

@RolandPheasant I've checked with the [last commit](https://github.com/RolandPheasant/TailBlazer/commit/2d0d15c076857804f3b61cbe5d32707653f000fc) and TailBlazer now starts up. Excellent!

[2016-04-11 08:49] thoemmi commented on #100
The issue in Dragablz (https://github.com/ButchersBoy/Dragablz/pull/97) is fixed and included in [0.0.3.160](https://www.nuget.org/packages/Dragablz/0.0.3.160).

[2016-04-11 12:29] karlequin opened #101 "Text formatting"
I know someone else here asked for a monospaced font, I'm one of those exceptions who prefer proportionally spaced fonts... maybe have a font option? I'd also like to be able to change the line spacing - the double-spacing leaves huge gaps. 1.5 line spacing might be good.

[2016-04-11 12:33] karlequin opened #102 "Global highlight options"
I quite like highlighting "error", "exception", "warning" etc., but I have to enter them every time I open a new file. Could we have a "global" checkbox for them in the search and highlight options dialog perhaps?

[2016-04-11 16:16] RolandPheasant commented on #102
I have been considering this already, so yes.

[2016-04-11 16:17] RolandPheasant commented on #101
That's a fair suggestion

[2016-04-13 20:56] rcince commented on #92
Any updates on when this will be available added ?

[2016-04-13 21:07] RolandPheasant commented on #92
It will happen. I just happen to have been busy with dynamic data lately and I happen to be on holiday right now.  It will come soonish

[2016-04-13 21:26] RolandPheasant commented on #92
Of course, a PR would be welcomed

[2016-04-14 06:23] flcdrg opened #104 "Selection can't be bigger than currently displayed lines"
1. Click on the line at the top of the window
2. Scroll down so that the selected line scrolls off the top
3. Shift-click another line to select end-line of selection
4. Use scrollbar to scroll back up.
5. Note that the selection was 'cropped' at the first visible line before scrolling, instead of the initially selected line

Possibly related to #78.

[2016-04-14 12:40] RolandPheasant commented on #104
Definitely related to #78

The sooner I fix this the better as there are so many issues relating to selection

[2016-04-21 19:50] JordanJones opened #108 "Crash when a network share temporarily is unavailable when using v0.7.0"
I frequently find myself tailing log files from a VM that I access via a UNC path. Occasionally when I restart or shutdown the VM, TailBlazer will crash. Here is the relevant section of the log file:

[code]

[2016-04-21 20:14] RolandPheasant commented on #108
Which version are you using?

[2016-04-21 20:16] JordanJones commented on #108
Doh.. sorry about that. I updated the title of the issue with the version (0.7.0)

[2016-04-21 20:37] mreichardt95 commented on #108
I was not able to reproduce the error.
I tried it over a connected network drive, with a UNC path and a local file. It just closes the text, but no crash

[2016-04-21 21:39] RolandPheasant commented on #108
I've have not reproduced the error but the stack tells me the offending code is this:

[code]

The offendling line is
[code]
which is causing the error. I will add some code to handle it soon.

[2016-04-26 12:46] mgnslndh opened #111 "Negative Index when reading lines using scroll request with position"
Reading lines using a `ScrollRequest` with a `position` instead of a `firstIndex` result in a negative `Index` for the first line.

[code]

[2016-04-26 19:16] #92 closed

[2016-04-30 20:54] rcince commented on #92
How do I download these updates? I've done a fresh checkout and it doesn't appear to be in there. Thanks.

[2016-05-01 13:27] RolandPheasant commented on #92
@rcince you need to get this branch

![image](https://cloud.githubusercontent.com/assets/9879866/14942025/ab3a90da-0fa8-11e6-939e-1b808a2bb3d9.png)

The code is incomplete and has a few bugs but feel free to try it out

[2016-05-09 20:03] RolandPheasant commented on #95
Fixed by #107

[2016-05-09 20:03] #95 closed

[2016-05-09 20:04] #94 closed

[2016-05-09 20:29] #108 closed

[2016-05-09 20:32] #100 closed

[2016-05-09 20:41] RolandPheasant commented on #88
I am closing this as I do not believe it will bring value

[2016-05-09 20:41] #88 closed

[2016-05-09 20:42] RolandPheasant commented on #46
Thinking about this, it seems a bit vague so I have closed it

[2016-05-09 20:42] #46 closed

[2016-05-09 20:43] RolandPheasant commented on #47
This will be considered in #51

[2016-05-09 20:43] #47 closed

[2016-05-09 20:43] RolandPheasant commented on #20
This will be considered in #51

[2016-05-09 20:43] #20 closed

[2016-05-09 20:44] RolandPheasant commented on #44
This will be considered in #51

[2016-05-09 20:44] #44 closed

[2016-05-10 21:02] RolandPheasant opened #113 "Update chocolatey with v0.8"
@abuzhynsky there is a new release.

[v0.8.0.464](https://github.com/RolandPheasant/TailBlazer/releases/tag/0.8.0.464)

Could you update chocolatey please.

[2016-05-10 21:42] CADbloke opened #114 "Horizontal arrows scroll the wrong way"
Firstly, utterly awesome app and great example of the tools - **thank you**. I'm actually a little embarrassed about how trivial this issue is...

...when I click on the horizontal scroll arrows the screen scrolls in the opposite direction to what I expected. eg. In Notepad++ with word-wrap off the scrolling behaviour is opposite.

Yeah, that's all. Everything else is awesome.

Thanks again for th

[2016-05-10 21:44] RolandPheasant commented on #114
I have to admit that issue is funny!

Luckily a trivial fix

[2016-05-10 21:55] JohannesSchmidt42 opened #115 "Ignore blank lines Option needed."
In some logging scenarios there is an excess of blank lines that can't be suppressed upstream or are the product of some end of line conversion issues (like when piping adb with "adb locat > mylog.txt").

It would be very convenient if TailBlazer could be told to ignore empty lines.

[2016-05-10 21:56] RolandPheasant commented on #115
This should be quite easy so I will definitely do it

[2016-05-10 22:25] FilipDeVos commented on #93
To fix the hanging window you need to change your bootstrapper a bit:

        [DllImport("kernel32.dll", SetLastError = true)]
        private static extern bool FreeConsole();

        [STAThread]
        public static void Main(string[] args)
        {
            FreeConsole();

            var app = new App { ShutdownMode = ShutdownMode.OnLastWindowClose };
         ...

[2016-05-11 07:57] gschizas opened #116 "Invert search filter"
There should be some kind of option to filter **out** some lines. There may be a way to do this with regular expressions (but it's not trivial). It would be better if there was a checkbox after each search filter to say that this specific filter should be inverted (i.e. lines matching that text or regex will be hidden).

Of course an invert filter should never be able to be highlighted (since thos

[2016-05-11 10:04] abuzhynsky commented on #113
Sure.
There is one issue though. Could you please recreate 0.8 release binaries archive without subfolder? We've already discussed it [here](https://github.com/RolandPheasant/TailBlazer/pull/73#issuecomment-187229272).
I'll update package as soon as you fix it.

[2016-05-11 10:08] RolandPheasant commented on #113
Ok. Will do it tonight

[2016-05-11 17:42] RolandPheasant commented on #113
@abuzhynsky done

[2016-05-11 17:45] #114 closed

[2016-05-12 04:56] abuzhynsky commented on #113
Done.

[2016-05-12 05:04] abuzhynsky commented on #93
Chocolatey package incorrectly generated shim - it was generating console shim instead of gui shim so it was blocking console until TailBlazer is shutdown. Fixed in [0.8.0.464](https://chocolatey.org/packages/tailblazer/0.8.0.464).

[2016-05-12 06:19] RolandPheasant commented on #113
Thanks

[2016-05-12 06:20] #93 closed

[2016-05-12 06:20] #113 closed

[2016-05-14 20:26] bastbnl opened #125 "Stopped working dialog on Windows 8 Enterprise Edition"
Thanks for the best looking tail tool on Windows yet! Excellent work getting Material to Windows.

I tried starting the executable in TailBlazer_v0.8.0.464.zip on Windows 8 Enterprise Edition. It doesn't start and shows a Windows dialog informing me the application has stopped working. It runs properly on both Windows 7 and 10.

The system reports this problem signature:

The framework versions in

[2016-05-17 14:31] initram opened #126 "Add setting for always showing scroll bars"
I work with some log files that do not update that often (once every 30 sec) and some of the lines in the log extends beyond the width of my log windows, so of cause I get a vertical scroll bar. This is all good.

The problem is when most lines are short and the top line (in the window) is long. When the next short line is logged it will try to remove the vertical scroll bar, making room for an ex

[2016-05-17 17:52] RolandPheasant commented on #126
@initram I have been aware of this issue for some time and have been unable to implement a fix for the repeated measure which results in the horizontal scroll bar been repeatedly shown and hidden.

I feel daft that I have never thought just to always show the scrollbars.  I have just tried it and your suggested fix works.

Until I find a proper fix, I have changed it so the scrollbars will always

[2016-05-17 17:58] #126 closed

[2016-05-17 19:51] lazycoder-ru opened #127 "High CPU utilization"
I have log file, that updates over 100 times per second. And TailBlazer uses over 30% cpu while viewing this log. Is it normal?

[2016-05-17 20:33] RolandPheasant commented on #127
@lazycoder-ru it has been a while since I have checked heavy duty performance so I am not sure what effect any recent changes may have had.

However it is natural for a busy log file with lots of updates on a graphics intensive system to be cpu intensive. To mitigate against this I will consider adding a setting to allow the user to adjust the refresh rate. Btw it is currently set at 250ms and I s

[2016-05-17 20:47] lazycoder-ru commented on #127
@RolandPheasant I've tried to use BairTail and SnakeTail to view this log, and they not so greedy with cpu.  But, as I can see, they have high refresh rate. I really liked TalBlazer and cpu issue it's one thing that holds me from using on production.

[2016-05-17 21:03] RolandPheasant commented on #127
I also just found some optimisations which I will apply.  Also I will put it on my agenda to have a general round of hunting for optimisations + I will add some perf related settings.

Btw in my previous job I used to test TB with log files which grew to 10Mb then roll over every minute, I remember the cpu being high but it never effected other apps.

[2016-05-17 21:04] RolandPheasant commented on #127
@lazycoder-ru are you able to build the code yourself? If no I will notify you of any changes as I do them

[2016-05-18 12:22] Beguiled opened #128 "Previously-opened file tabs are displayed in random order when application is launched"
Not a big issue, by any means, but one that can hopefully be corrected easily.

Steps to reproduce:
1) Load multiple files into Tail Blazer so you have multiple tabs present
2) Note the order of the tabs
3) Close Tail Blazer
4) Open Tail Blazer
5) Note the order of the tabs

I have found after multiple runs through these steps that the tabs are being presented in a different order each time. I hav

[2016-05-18 20:42] lazycoder-ru commented on #127
Yes, I can build code by myself. Any dependence libs? I will be very appreciate for notifications about performance improvements.

[2016-05-19 20:08] RolandPheasant commented on #127
@lazycoder-ru I have created a experiment branch - see [Optimisations](https://github.com/RolandPheasant/TailBlazer/tree/Optimisations).

To build it you will need vs2015. If you have not got it you can always download the community edition for free.  All you need to do is grab the branch, build in release mode and run TailBlazer.exe

So far I have made the following changes

1. Slow down file ref

[2016-05-20 13:09] AlistairClark7 opened #129 "Highlighting for plain text "regex" not working"
Steps to reproduce

1. Enter search term that gets detected as regex in the "Type to search using plain text" input (e.g. "Name: Bob")
2. Click the .* button so the hint changes from "Hit enter to search using regex" to "Hit enter to search using plain text"
3. Hit enter in search box

The results get filtered correctly, but matches of "Name: Bob" are not highlighted.

[2016-05-20 13:15] AlistairClark7 commented on #129
It would be useful to be able to globally ignore searching for regex. Or a keyboard shortcut to override the auto detect and search via plan text. Happy to fork this and submit a pull request for this if that would be useful?

[2016-05-20 13:43] RolandPheasant commented on #129
I will take a look at the issue next week. However I do recall there were some complexities of highlighting on regex so I had to programming in some caveats. I will get back to you on these details when I remember them.

If you feel you can improve this system please feel free to contribute. If you need help probably best to contact me on the gitter channel.

Thanks

[2016-05-20 15:06] AlistairClark7 commented on #129
Thanks, I will take a look around the code. After a bit more use it seems that only single word searches are being highlighted. But it's really nice so far!

[2016-05-22 16:37] lazycoder-ru commented on #127
Yes, now its much better. Now it's using up to 8% CPU on same log update rate and hardware. Selecting and deselecting checkbox "Highlight-Tail" isn't make any visible difference in cpu usage. Is it able to make option to turn off all animations and fadings(on mouse hover)?

[2016-05-22 18:03] RolandPheasant commented on #127
I am very pleased my changes work for you. What I will do is implement the changes and provide on option to slow the refresh rate.

The highlight-tail option made a slight difference on my machine and I was interested to see whether the graphic on your was contributing to the cpu storm.

Currently the highlight tail option is purely that. I will look into other areas of graphic to see whether I ca

[2016-05-26 17:20] t-johnson commented on #84
Perhaps an idea would be to support Ctrl+Home / Ctrl+End to go to Begining/End of file.  this would be the same keys as most other text editors.

[2016-05-26 19:59] kfrancis opened #132 "Follow Tail Jump"
I can't get a recording of it, but it's happened quite a few times where the output will continuously jump around while it attempts to follow the tail. It calms down once new entries are entered.

[2016-05-26 20:29] RolandPheasant commented on #132
I think this is an issue which is solved but not released yet. It happens when a new line comes in which is wider than the viewable area. This forces the scroll bars to resize and this is turn scrolls up one and a loop starts.

Let me know if this is what you are seeing

[2016-05-29 08:24] lzinga commented on #39
Was wondering if this was ever added. Word wrap would be quite nice to have

[2016-05-30 16:44] mikeloeven opened #133 "Allow user to select and copy only part of a line"
Just wondering if you can build in some more selection options that allow the user to select part of a line instead of having to copy the whole line the logs i work with generally have a lot of extra data per line when all i need is just a few words

[2016-05-31 13:59] kfrancis opened #134 "Save Filters"
Since the log files will (more often than not) have the same keywords that you would filter by, it would be nice to be able to save those filters and apply when opening files in the same directory.

[2016-05-31 14:04] RolandPheasant commented on #134
I have started a branch where I will enable global filters which are applied to all files.

Would that satisfy your requirement?

[2016-05-31 14:06] kfrancis commented on #132
That sounds about right. I'll check it out when the next release hits.

[2016-05-31 14:06] kfrancis commented on #134
Absolutely!

[2016-05-31 14:07] RolandPheasant commented on #132
It's my second priority right now. I will let you know when it is done

[2016-05-31 14:22] RolandPheasant commented on #133
This has been requested before bit at this point I have not worked out an obvious way to allow the text to be directly selectable. Perhaps I need to completely change the display control

[2016-05-31 21:34] RolandPheasant commented on #127
@lazycoder-ru I have scrapped the previous branch and created a new one where I give performance options.  See [ExtraOptimisationOptions](https://github.com/RolandPheasant/TailBlazer/tree/ExtraOptimisationOptions)

![ratings2](https://cloud.githubusercontent.com/assets/9879866/15691297/c839b0be-277f-11e6-9b7b-df9ec3aaf06c.gif)

Can you build that  branch and let me know if it works for you. Thanks

[2016-06-01 14:27] petertirrell opened #135 "Keyboard shortcut to open a new file (Ctrl-O)"
It would be nice to be able to open the open file dialog via ctrl-O.

[2016-06-02 10:58] Tiax commented on #116
My thoughts exactly, after starting to use the tool.

I think it's a very common use case to exclude lines that match a pattern, e.g. contain "DEBUG" loglevel or generally unimportant info.

[2016-06-02 11:21] RolandPheasant commented on #116
I agree this will be very useful and is definitely on my list.

Creating exclusion filters will not be technically difficult. However the obvious use case of excluding lines with DEBUG or blank lines would require the exclusion to be applied to the All tab as well as other filters.

What has stopped me so far is other priorities plus I need to consider the ux and any performance implications.

[2016-06-03 12:12] wozzo opened #136 "Page Up/Down stops working"
The Page Up/Down keys work for the first two presses (for page up first press highlights currently visible top line, second goes up a page) but then stops working until I click on a position in the log file and then it works for two key presses again.

[2016-06-03 12:58] RolandPheasant commented on #136
I have already created a branch for this. See [keyboard navigation](https://github.com/RolandPheasant/TailBlazer/tree/InterceptKeyStrokesForFileNavigation)

The problem is surprisingly complex to solve but I have some ideas. When my current queue is clear I will take another look.

[2016-06-03 13:08] wozzo commented on #136
Great. Thanks for a great tool otherwise. I'll see if I get a chance to look myself at some point.

[2016-06-03 13:23] RolandPheasant commented on #136
If you do, contact me and I will explain the complexities plus the solution I  working on.

[2016-06-03 18:58] schulz3000 commented on #97
Maybe you can use [Squirrel.Windows](https://github.com/Squirrel/Squirrel.Windows) an easy to use installer and updater framework

[2016-06-04 07:05] #135 closed

[2016-06-04 15:53] patchandthat commented on #97
I've already taken this a fair way with WiX, the windows shell integration is mostly sorted but needs merging with all the changes that have happened since I started, there's a working WiX installer and bootstrapper, it's just the interface for the bootstrapper needs building.

I've been sidetracked by some freelance work but once it's all out of the way I intend to pick this back up.

[2016-06-06 21:06] RolandPheasant commented on #102
@karlequin Job is done. If you build the latest you will get this.

![animation](https://cloud.githubusercontent.com/assets/9879866/15837830/daf95dc8-2c32-11e6-80f0-629b4938cb1d.gif)

Let me know how you get  one

[2016-06-06 21:14] #102 closed

[2016-06-07 22:08] RolandPheasant commented on #129
Multiple words highlighting should work now in the latest master branch. Any issue reopen this

[2016-06-07 22:08] #129 closed

[2016-06-08 08:09] karlequin commented on #102
That's great, thanks!

[2016-06-14 12:00] ketantailor opened #138 "Filter color palette should include shades of grey"
The color palette includes a lot of accent colors but not any shades of grey, would be good to include them.

[2016-06-15 12:38] mgnslndh opened #139 "Last characters on line does not show in some cases"
Not sure if this is some edge case but I recently observed the following behaviour:

The last line in the log fail looks like this:
[code]

And what actually is displayed looks like this:

![image](https://cloud.githubusercontent.com/assets/1139118/16079955/795941de-3306-11e6-8f4f-9cd496d27729.png)

`Filter 99` is the last characters displayed on the line but I was expecting `Filter: 9998 }`

[2016-06-15 12:45] RolandPheasant commented on #139
This is fixed but not released. Have you tried to build from the latest master branch?

[2016-06-15 21:59] RolandPheasant commented on #138
Done. You can grab the latest build from here [Latest](https://ci.appveyor.com/project/RolandPheasant/tailblazer/build/artifacts)

[2016-06-15 21:59] #138 closed

[2016-06-15 21:59] #139 closed

[2016-06-15 22:01] RolandPheasant commented on #134
Global filters are available now. You can grab the latest build from
[Latest Build](https://ci.appveyor.com/project/RolandPheasant/tailblazer/build/artifacts)

[2016-06-15 22:01] #134 closed

[2016-06-15 22:05] RolandPheasant commented on #116
Global filters and exclusions are available now. You can grab the latest build from
[Latest Build](https://ci.appveyor.com/project/RolandPheasant/tailblazer/build/artifacts).

To exclude some text type "-" before the text to be excluded

![exlusion filters](https://cloud.githubusercontent.com/assets/9879866/16098901/3c5bf88e-334d-11e6-9bb4-061423dd5337.gif)

[2016-06-15 22:05] #116 closed

[2016-06-15 22:18] RolandPheasant commented on #132
This is solved in the latest build

[2016-06-15 22:18] #132 closed

[2016-06-16 13:57] mgnslndh commented on #139
I pulled from master but I can still reproduce the behaviour. Wierd.

I also noticed that sometimes when I scroll to the right and then scroll up/down I get to a situation where the horizontal scrollbar disappear but the viewport is not positioned at X = 0. See screenshot:

![image](https://cloud.githubusercontent.com/assets/1139118/16119208/c3317536-33da-11e6-8041-43c394253303.png)

[2016-06-16 14:05] RolandPheasant commented on #139
Have you got a file or a bit of a file which can be used to repeatedly repeat it?

[2016-06-16 19:46] RolandPheasant commented on #115
@JohannesSchmidt42 you will be pleased to know exclusion filters are now possible.

You can exclude something by starting the search with a minus sign. In the following example I type "-", then the RegEx for a blank line. Use in Global tab to apply for all files, and Local tab for the current one only.

![exlude all blank lines](https://cloud.githubusercontent.com/assets/9879866/16130841/dc41a500-

[2016-06-16 19:46] #115 closed

[2016-06-16 20:56] rcince opened #141 "Exclude and filter on the same text produces unexpected results"
Noticed that when I exclude text (i.e. "-info") and move that to a global exclusion and then filter on that same text, but not as an exclusion, all instances appear. Also, in settings, the info filter shows up in both the global and local scope (as if there are really two filters) but there is only one tab for.

I'd have expected to not see any lines containing "info" because it is a global exclus

[2016-06-16 21:51] RolandPheasant commented on #141
I have set it up that whatever is in the local overrides what is in the global. This enables intentional local overrides

Also note that adding a search / exclusion is case sensitive meaning info and INFO and be added at the same time.

That said, a) I fixed a couple bugs about an hour or two ago b) I will look into it

[2016-06-16 22:21] RolandPheasant opened #142 "Update Chocolately"
@abuzhynsky there is a new release.

[v0.9.0.536](https://github.com/RolandPheasant/TailBlazer/releases/tag/0.9.0.536)

Could you update chocolatey please.

[2016-06-16 22:23] RolandPheasant commented on #141
@rcince could you grab the release from [v0.9.0.536](https://github.com/RolandPheasant/TailBlazer/releases/tag/0.9.0.536) and try again. Thanks

[2016-06-17 06:37] JohannesSchmidt42 commented on #115
Thx! this works great.
now i am left without any complaints... I can now start to spread the word and tell my colleagues to use TailBlazer

[2016-06-17 14:42] abuzhynsky commented on #142
@RolandPheasant I've packed and uploaded new version to chocolatey feed. Waiting for moderator approve.

[2016-06-17 14:44] RolandPheasant commented on #142
Thanks

[2016-06-17 14:44] #142 closed

[2016-06-17 15:31] nmummau opened #143 "It is possible to open the same file multiple times"
Current version: v0.9.0

1. Open a file in Tail Blazer
2. Click the hamburger menu in the top left of the app
3. Under 'Recent Files' click on the file that you just opened in step 1.

BUG: now you have two tabs open in Tail Blazer with the same file open.

![image](https://cloud.githubusercontent.com/assets/10524529/16155802/07710f6e-347f-11e6-9975-e749015f96bd.png)

[2016-06-17 15:35] RolandPheasant commented on #143
That is by design as it enables comparing different filters on the same file side by side

[2016-06-17 15:36] #143 closed

[2016-06-17 16:16] nmummau opened #144 "Shareable "Search and Highlight options""
This is a feature request for it to be possible to share Global settings between users. When multiple users are often looking at the same log files, it'd be nice if all users used the same Search and Highlight options.

The search and highlight options of Tail Blazer are awesome as is, but this would just enhance the usability.

[2016-06-17 16:22] nmummau opened #145 "Switching files while the 'Search and highlight options' dialog is open doesn't update the dialog"
1. Open two different files (e.g. File1 an File1)
2. Click on the File1 tab to view it
3. Click the gear icon at the top right to open the 'Search and highlight options' dialog
4. Setup a few filter/highlighting rules under the 'Local' scope
5. At the top of the application, click on File2.

**BUG**: the context of the dialog still shows the Local filter/highlighting rules that you setup for File1

[2016-06-17 16:34] nmummau opened #146 "Match whole word only should be a setting of the 'Search and highlight options'"
Current version:
v0.9.0

Feature request:
It would be nice if you could setup the 'Search and highlight options' to match whole word only. I have a rule setup to highlight the word 'add' but the highlighting is a bit noisy due to this missing feature.

My rule:
![image](https://cloud.githubusercontent.com/assets/10524529/16157668/790a9480-3487-11e6-97cc-65f49d91998c.png)

Noisy highlighting in my

[2016-06-17 16:43] MattFloyd commented on #146
Try using a regular expression and typing `\badd\b` for a word boundary

[2016-06-17 16:45] nmummau commented on #146
Thanks MattFloyd, you're awesome! That worked for me!

![image](https://cloud.githubusercontent.com/assets/10524529/16158024/3f969198-3489-11e6-9491-2d0d597e2495.png)

[2016-06-17 18:53] RolandPheasant commented on #146
@MattFloyd great call. I probably would not have thought of that.

[2016-06-17 18:53] #146 closed

[2016-06-17 21:49] rcince commented on #141
Ah, I see. That makes total sense now that I've considered intentional local overrides.
I've had a scan over 0.9.0.536, but I'm not sure what's happening here (the filter tabs aren't appearing):

![Screencast](http://i.imgur.com/XDF0nvy.gif)

Great app thought!

[2016-06-17 22:05] RolandPheasant commented on #141
Select the filter check box for new tabs

[2016-06-17 22:06] rcince commented on #141
Done some more testing and it appears to only be a problem when adding filters via the "Search and highlight options" dialog. See below

![](http://i.imgur.com/lJWnGKl.gif)

[2016-06-17 22:07] rcince commented on #141
Overlooked that. Fantastic!

[2016-06-17 22:09] #141 closed

[2016-06-17 22:09] RolandPheasant commented on #141
Yeah.  Sound like it works for yoy

[2016-06-18 04:20] ckarcz opened #147 "Filter Include / Filter Exclude"
# Have two filtering types:

**Filter Include** - Only logs containing the filter string will be included in the logging window. Use case would be "I only want to see logs about Foo" (already implemented in TailBlazer as the only filtering type).
**Fliter Exclude** - Logs containing the filter string will be excluded from the logging window. Use case would be to filter out things you don't want to

[2016-06-18 04:22] ckarcz opened #148 "Have option to highlight entire line vs just filter/search text"
Have option to highlight entire line vs just filter/search text

[2016-06-18 07:28] RolandPheasant commented on #147
Check out exclusions filters here https://github.com/RolandPheasant/TailBlazer/wiki/Release-v0.9. Already possible

[2016-06-18 07:29] #147 closed

[2016-06-20 10:13] hinst opened #150 "Scroll glitch"
Had this glitch today: the bottom line of the document goes up
![1](https://cloud.githubusercontent.com/assets/958706/16190578/b2572c90-36e8-11e6-9ae6-bf49c0906432.png)

[2016-06-20 13:09] RolandPheasant commented on #150
Can you repeatedly reproduce that?

[2016-06-21 12:44] hinst commented on #150
yes; when more messages are added, it goes up and up. At first there is only one empty line at the bottom; then two then 3 and so on (however the app which writes to log does not write empty lines; and even if it did, then new non-empty lines would appear after empty lines)

[2016-06-21 13:47] RolandPheasant commented on #150
That's an old version.

Could you try again with the latest version.  Here https://github.com/RolandPheasant/TailBlazer/releases

[2016-06-21 15:06] hinst commented on #150
I checked just now; I still get this bug with the new version. Looks exactly as on the screenshot I posted with my first message

[2016-06-21 15:12] RolandPheasant commented on #150
This one is really odd.  Can you open the tailblazer log file to see whether the problem exists on your machine or is specific to that particular log file

[2016-06-22 19:13] ckarcz opened #151 "Weird Split Mode Clear Behavior"
When in split mode, if you want to clear the window, you have to right click the top search section, not the main log section below, in order to get the Clear context menu option.

Makes more sense to have it on the bottom window. Unless you can clean the search context above separately. That would be nice too.

[2016-06-22 19:59] RolandPheasant commented on #151
The bottom of the split is an inline viewer and automatically scrolls to what is selected on the top screen. That is why there is no explicit clear on the top.

You can also clear by pressing button in the bottom right of the screen.

![image](https://cloud.githubusercontent.com/assets/9879866/16281363/01cb077c-38bc-11e6-9913-17d61974c5d3.png)

[2016-07-01 19:19] rcince commented on #97
+1
Keen to get this update

[2016-07-06 08:30] barser opened #152 "Wrong tab selected after opening log file from Windows Explorer"
For example, if I have several log files opened in previous session of TailBlazer and then I double clicked on another log file in Windows Explorer, TailBlazer opens this file in new tab, but this tab is not in focus. It's rather uncomfortably.

See screenshot:
1. Open several files in TailBlazer (unifond_20160706.log, unifond_20160705.log)
2. Close TailBlazer.
3. Double click on unifond_20160704.

[2016-07-06 08:33] barser commented on #152
Maybe adding an option to close all tabs when closing TailBlazer will be helpful!

[2016-07-07 16:22] fireundubh commented on #51
I'm not sure if this is the appropriate place for this, but I'd like to vote for #20. Currently, I have to mount a remote file system via [Dokan SSHFS](https://github.com/dokan-dev/dokan-sshfs), and then tail files through that mount, so a more direct path would be appreciated.

[2016-07-11 13:56] pinonpierre commented on #148
Or just allows to set something like ".*ERROR.*"
Because multiple filters like ".*SOMETHING.*" create strange results...

[2016-07-20 14:05] hinst commented on #150
I observed the issue today at 17:00. Text went up as high as 50% of the view-panel.
[logger.txt](https://github.com/RolandPheasant/TailBlazer/files/373853/logger.txt)

[2016-07-23 17:29] Roritharr commented on #51
+1 for #20
How can I help make this happen?

[2016-07-23 20:18] RolandPheasant commented on #51
@Roritharr are you willing to contribute?  I would love some help.  If you can contact me here https://github.com/RolandPheasant/TailBlazer

[2016-07-30 17:19] mikeloeven opened #154 "Please add the option to minimize or X to tray icon"
pretty self explanatory. just add an option to minimize the program to the tray and another option to remap the X button to minimize to tray

[2016-08-04 15:45] mizipzor commented on #80
I also have this. Found this bug report with the workaround, everything works here as well when I don't run as admin.

[2016-08-06 08:54] Mizipzor commented on #97
@patchandthat cant find a branch related to this in your fork, any plans on pushing a work in progress? I would like to see where you're at. Do you need help?

[2016-08-18 14:30] drewnoakes opened #157 "Horizontal scroll bar misbehaving when clicking in track"
Firstly I'm excited about using this log viewer. Thanks for all your work on it so far!

This one's pretty minor and hopefully as minor to fix.

- Ensure you have a log line that's wider than the window
- Move the horizontal scroll bar thumb midway across the track
- Click in the track (between the thumb and the arrow)

For me, on the right hand side, nothing happens. On the left hand side, the th

[2016-08-18 15:01] RolandPheasant commented on #157
Thanks for the appreciation.

Are you using version 9?

[2016-08-18 15:27] drewnoakes commented on #157
Yep, 0.9.0.

[2016-09-01 02:52] forkery commented on #148
^.*ERROR.*$    - will work

[2016-09-05 16:43] MrCull commented on #152
This issue does not appear to be as simple to resolve as it first sounded. Perhaps someone intimate with the code base might be able to offer a few pointers.

Also agree the second separate feature to not always open old tabs would be a useful feature (for the way I generally use the tool). So this is perhaps worth raising as a separate issue?

Awesome tool btw!

[2016-09-05 17:50] MrCull opened #159 "No screen refresh on maximise"
When opening a log with a wide line of text in then naturally not all text will be able to be displayed to start with.

If you then maximise the application it takes up the extra screen Real Estate but does not refresh the screen display and therefore you are left with white space where there should be characters.

As soon as you scroll then the screen display will refresh itself correctly.

See e

[2016-09-05 18:26] RolandPheasant commented on #159
That's odd as it works on my laptop

[2016-09-05 18:31] RolandPheasant commented on #152
@barser @MrCull  I think I can solve this by waiting for the previous files to be restored, then opening the file which was passed through to the command line args

@MrCull thanks for the appreciaton.

Also I am been giving TB a rest lately as a) it is summer and b) I have been giving lots of love to [Dynamic Data](https://github.com/RolandPheasant/DynamicData) which is the project which I conside

[2016-09-05 19:33] #145 closed

[2016-09-05 19:34] RolandPheasant commented on #145
@nmummau I have fixed this by closing the dialog when selection is switched

[2016-09-06 06:26] #157 closed

[2016-09-06 06:28] drewnoakes commented on #157
We're you able to fix this?

On Tue, 6 Sep 2016, 07:26 Roland Pheasant, <notifications@github.com> wrote:

[2016-09-06 06:43] RolandPheasant commented on #157
Yes.  Fixed by @MrCull

[2016-09-06 06:54] drewnoakes commented on #157
Nice, cheers.

On Tue, 6 Sep 2016, 07:43 Roland Pheasant, <notifications@github.com> wrote:

[2016-09-06 11:35] pinonpierre commented on #148
If I set 2 items:
- ^.*ERROR.*$ => RED
- ^.*TRACE.*$ => GREY

The last line works (Here TRACE) but not others...

[2016-09-06 12:32] RolandPheasant commented on #148
I'll add the option

[2016-09-06 17:59] MrCull commented on #159
I produced this on my lap top when running via the IDE in debug mode.
I have just reproduced this just now on my desktop running the downloaded binary v0.9.0.
So seems pretty consistent to me.
Both devices are running Win 10 if that makes a difference.

Also the text file is static and not being updated. As soon as it's modified the screen does refresh.

Let me know if there is anything else I can

[2016-09-06 18:23] MrCull commented on #152
No problem - I had a look for modern tail type apps a little while back and this one appeared pretty decent. Actually this one was perfect as it was light weight, portable, OS, plus it works great too.

In the organisation I work for we produce a range of semi bespoke and other more generic server based business critical systems. Many of these have dedicated support agreements with very tight SLA

[2016-09-06 18:30] MrCull opened #160 "Don't always open previous files on start up of the app - new configurable user feature."
As per comments by @barser in issue #152
"Maybe adding an option to close all tabs when closing TailBlazer will be helpful!"

I agree this would be a nice feature and assume a new configuration option could be added to control/toggle this on a per installation bases.

@RolandPheasant if you agree then do you want to give a short description, or screen mock up, of how you would like this configurat

[2016-09-06 19:29] RolandPheasant commented on #152
@MrCull thanks for the positive words.  I always enjoy knowing that people out there are appreciation the fruits of my labour, One thing I need to correct you on is that alas TB is not portable! Maybe one day.

As for helping with issues, I should be getting some momentum back into TB next week and will consider my to do and features list. I will notify you when I prioritise this.

[2016-09-14 18:15] ckarcz commented on #148
I still can't have multiple 'highlighters' using the ^.*ERROR.*$ patterns only the bottom one highlights at all. Am I doing it wrong?

[2016-09-21 12:29] Beguiled commented on #128
Sorry for the lateness in this update. I've been staying on the release version. However, I have verified that this issue still exists in the current non-release build. I have tested it in multiple cases. Re-ordering tabs, closing and reopening will present the tabs in an incorrect order.

I wanted to raise this to make sure this issue stays on the radar.

[2016-09-21 13:06] RolandPheasant commented on #128
I have reopened the issue

[2016-09-25 10:15] drewnoakes commented on #13
Nice idea.

While TailBlazer is running, it can collect these timestamps itself. However when a file is opened, it could only attempt to parse a date/time from the start of the line. That sounds more fragile.

[2016-09-25 10:19] drewnoakes opened #161 "Automatically resume "Follow tail" when view scrolled to end"
I've seen this feature in other log viewers and it's very natural. Scroll to end (perhaps via Ctrl+End as in #84) and the view "snaps" back to the live tail, and automatic tailing/scrolling is resumed.

The inverse is currently supported. When following, scroll up (the checkbox becomes unchecked).

With this approach, you could get rid of the checkbox altogether, further simplifying the UI.

[2016-09-25 11:52] RolandPheasant commented on #161
I have been meaning to do this for a while. Whether I get rid of the check box is another matter.

[2016-09-26 05:59] DanielSundberg commented on #127
Any news on when this will be released? I see very high CPU usage and very slow performance when scrolling on a moderately sized log file (175mb).

[2016-09-26 06:12] RolandPheasant commented on #127
Have you tried to adjust the ratings as doing so reduce the graphics frame rate and the file refresh rate. Also are you monitoring a file on a local or network drive? If local is it an ssd?

Apart from that my current task is a rewrite of the way that tailblazer tails and scrolls.  The reason for this is due problems with keyboard navigation which stems from the way which files are virtualised.  A

[2016-09-26 06:26] DanielSundberg commented on #127
Reducing performance rating makes the situation a bit better. This is a server running on a "local cloud".

*paying close attention to all aspects of performance* sounds like a good idea. For now I'll go back to tail and grep.

[2016-09-26 06:33] RolandPheasant commented on #127
I will let you know when I have made the first cut for testing

[2016-10-06 13:11] drewnoakes opened #163 "Flash taskbar icon when certain filters observed (eg: error)"
I use these filters:

![image](https://cloud.githubusercontent.com/assets/350947/19153360/25b67a9e-8bce-11e6-9b34-c498d41ef7da.png)

Usually TailBlazer is running in the background. I'd like for it to get my attention whenever an `ERROR` occurs.

Another checkbox in this UI ("Alert"?) would be great.

The [`System.Windows.Shell.TaskbarItemInfo` class](https://msdn.microsoft.com/en-us/library/syste

[2016-10-06 17:52] RolandPheasant commented on #163
My intention has always been to add alerts.  I will probably create an alerts view which capture alerts form open views. There will be links which would allow you to navigate to the tab and automatically scroll to the altered line.   Also flashing the task bar item would be good

[2016-10-06 20:07] drewnoakes commented on #163
A great first step would just be to flash the tab header, and flash the
task bar icon. The alert is cleared by viewing the tab, or focusing the
window. You could always extend the feature later based on feedback.

On Thu, 6 Oct 2016, 21:04 Roland Pheasant, <notifications@github.com> wrote:

[2016-10-06 20:11] RolandPheasant commented on #163
I am currently re-writing the heart of Tail Blazer in order to give greater control over how files are monitored and how lines are loaded / virtualised. After that I will  turn my attention back to new features.

Eta - at least a few weeks before I will be adding new features. However by getting the inner workings correct it will enable me to rapidly extend the feature set.

[2016-10-06 23:39] pmiossec commented on #78
I suffer this bug on the last version of the application :(
When doing a double click to select the line, then unable to copy!

PS: I could also be great to be able to select part of the text line and be able to copy just that...

[2016-10-06 23:41] pmiossec commented on #136
I got this bug too :(

[2016-10-06 23:42] pmiossec commented on #128
Reproduced here, too...

[2016-10-06 23:56] pmiossec opened #164 "Scroll locked"
After quite some time of use, the lock is blocked at a certain position (perhaps always at the bottom), and scrolling don't work and always return to this position automatically preventing to look at the previous lines.

In my case, the "Follow tail" is unchecked.

It's more to keep a trace of the bug because I can't find the root cause of this bug.
I will add some data if I find something usefull

[2016-10-07 14:09] modernist opened #165 "Add support for arbitrarily splitting log file to log entries"
Most log files have some kind of prologue in each entry (e.g. the timestamp of an event), but each entry can span multiple lines.

It would be useful to allow the user to define a regex that will be used to split the log file into entries and handle each entry as a single "line" regardless of the actual number of lines it may span.

[2016-10-10 17:37] RolandPheasant commented on #165
I agree, it would be a good feature. When I clear my current backlog I will take a look

[2016-11-04 13:45] diegofrata commented on #161
Keep the checkbox. I don't want to have to scroll all the way down to re-enable follow tail.

[2016-11-04 21:09] drewnoakes commented on #161
@diegofrata easier to just press <kbd>End</kbd>.

[2016-11-05 01:15] diegofrata commented on #161
Might be, but only IF you know about it. I didn't.
On Fri, 4 Nov 2016 at 21:09, Drew Noakes <notifications@github.com> wrote:

[2016-11-10 20:46] broath commented on #133
This I definitely would be to serious use.

[2016-11-16 07:49] lofidevops opened #166 "Open multiple files at once, without opening previous tabs"
I am logging multiple applications. Some applications generate multiple logfiles, not necessarily in the same folder. I'd like to launch a separate instance of TailBlazer for each application, with all logfiles for that application in that instance.

A simple solution is to make a Windows shortcut calling `tailblazer.exe C:\path\file1.log C:\path2\file2.log`

This does launch a new instance of Tai

[2016-11-16 07:55] kwill commented on #166
I don't know if this is related to / a duplicate of https://github.com/RolandPheasant/TailBlazer/issues/160

[2016-11-16 19:43] RolandPheasant commented on #166
There are currently no CommandLine options. but I think adding one to disable loaded previous tabs is a good idea.

Btw did you know you can drag the tabs out into a new window?

[2016-11-17 08:18] kwill commented on #166
Personally, I would prefer to not have them there in the first place, but I will try that out. Thanks!

[2016-11-21 18:59] gschrader commented on #136
I work around this by clicking in the empty area of the scrollbar to page up/down, is there a way to use this to solve to keyboard nav complexity?

[2016-11-22 14:53] RolandPheasant commented on #136
The problem with automatically selecting another area and then the view again is it is slow.  I will however take another look with fresh eyes to see what I can come up with

[2016-12-20 21:46] nnpcYvIVl opened #167 "App opens in center then jumps to last opened position"
When opening the app it initially appears in the center of the screen then jumps to its last opened position. Can you fix it to open directly to the last opened position?

[2016-12-20 21:49] nnpcYvIVl commented on #167
Screengrab of issue.

[TailBlazer - App opens in center then jumps to last opened position.zip](https://github.com/RolandPheasant/TailBlazer/files/664858/TailBlazer.-.App.opens.in.center.then.jumps.to.last.opened.position.zip)

[2016-12-21 19:05] RolandPheasant commented on #167
I know of this and will take a look when I get a chance

[2017-01-11 11:00] Aniel opened #168 "Windows 10 Snap assist not working with TailBlazer"
# Summary
In Windows 10 you can use snap assist to snap two windows and resize them together. With Tailblazer the resizing is not working.

### Expected Behaivor (two explorer windows)
![resize working](https://cloud.githubusercontent.com/assets/4410553/21845808/692b43b4-d7f4-11e6-8d51-4c32040f5b18.gif)

### Actual behaivor (Tailblazer does not resize with the explorer window)
![resize not working

[2017-01-11 11:11] RolandPheasant commented on #168
Wow I am impressed with your model issue report.  I will check it out after my day job

[2017-01-11 13:33] punker76 commented on #168
@RolandPheasant It's the glow stuff of MahApps which causes this issue. It works without a glow brush and a normal border.

[2017-01-11 13:47] RolandPheasant commented on #168
@punker76 thanks

[2017-02-01 22:29] drewnoakes opened #169 "Shift+MouseWheel to scroll left/right"
Many applications support this and it's very useful for working through log files containing long lines without using word wrap.

[2017-02-27 03:45] mikeloeven opened #170 "Possible issue re-aquiring log files if an application deletes, or moves, or renames, the original before creating a new one"
I was doing some debugging in Kerbal Space program the other day and I noticed that tail blazer would not tail the log after the game crashed and was restarted. I believe this has to do with the fact that on a crash the game will create a new folder for the crash dump and than move the log file into that folder. on the next run of the program it will create a new log file of the same name in the s

[2017-02-27 07:36] RolandPheasant commented on #170
I have also noticed those behavior recently.  In older versions it behaved as expected so hopefully that will make it easier for me to hunt down the problem.

[2017-04-03 21:02] michaeldaw commented on #152
My team and I have been using Tailblazer for a while and really like it. It's a great evolution of the typical tracing app. However, this particular issue has become something of a problem.

When double-clicking on a file in Explorer, one expects that file to open in the assigned application. Said another way: people assume the file they are looking at is the file they double-clicked on. In Tailbl

[2017-04-03 23:55] Beguiled commented on #152
I don't see how this is the fault of TailBlazer. Can you be more specific and give and example of the steps taken that leads to your team's outcome?

[2017-04-03 23:57] Beguiled commented on #152
Nevermind. I misunderstood the comment.

[2017-04-04 00:03] michaeldaw commented on #152
Apologies. I didn't mean to blame anyone. The steps we undergo are the same as those outlined in the original post for this issue. While it may be somewhat fundamental to the software, as MrCull mentioned, it seems somewhat counter-intuitive to double-click a particular file in Explorer, and to then be initially viewing a different file when Tailblazer launches.

[2017-04-04 16:42] MrCull commented on #152
Agree with @michaeldaw and this is closely related to #160

Unfortunately I have not had time myself again yet to look at implementing this :-(
Also it would be great to get some guidance from @RolandPheasant for screen designs on #160

[2017-04-04 21:15] RolandPheasant commented on #152
I am on holidays this week. Will respond next week

[2017-04-17 13:03] drewnoakes opened #171 "Middle click tab to close"
Middle clicking with the mouse closes tabs in many applications (visual studio, chrome, firefox, edge, sublime...)

It's much faster than clicking on the comparatively smaller 'close' icon.

[2017-05-11 16:00] jlanzarotta opened #172 "Performance and Stability issues"
Hello,

I have been trying to use TailBlazer for a few months now and have noticed several significant performance and stability issues and I wanted to asked about them.

First, over time, TailBlazer used an excessive amount of memory.  For example, I have been running it for about 3 hours today, and I have a 114 MB log file and TailBlazer is using 1.05 GB of memory... That sounds excessive to me.

[2017-05-11 18:05] RolandPheasant commented on #172
That sounds totally wrong to me!  Personally I have not seen such memory issues but I will profile it as something is obviously wrong.

In terms of unresponsiveness, I have seen TB fail to reconnect sometimes when a log file roles. I think it has something to do with exclusive locking when the logger creates a new file. Again I will take a look to see if I can work it out.

But perhaps the 2 issue

[2017-05-11 18:10] jlanzarotta commented on #172
Thanks for the reply.  I will continue to dig into it and report anything I find.

[2017-05-11 18:25] jlanzarotta commented on #172
For what it is worth, I am writing a LOT of records to the log file...  I would say every few milliseconds...

[2017-05-11 18:28] RolandPheasant commented on #172
In the early days of dd I tested it against a market data logger which produced a 10Mb file every 1 minute then continually role and at the time there were no memory leaks. I have obviously introduced something since.

Out of interest, are the lines in the log files very long?

[2017-05-11 18:33] jlanzarotta commented on #172
Yes, some are fairly long upwards of 1049 characters.

[2017-05-11 18:34] RolandPheasant commented on #172
Maybe LOH fragmentation. Do you have a profiler to check?

[2017-05-11 18:36] jlanzarotta commented on #172
I am profiling right now...
In the future lines have the potential to become longer as DEBUG or TRACE levels are enabled.

[2017-05-11 18:51] jlanzarotta commented on #172
I have not used the Visual Studio 2015 profiler before...

[2017-05-11 18:51] RolandPheasant commented on #172
Nor have I. Good luck with that one

[2017-05-11 19:20] jlanzarotta commented on #172
One other thing to note.  I have three global search and highlight options set.  One for DEBUG, one for WARN, and another one for INFO.

[2017-05-12 13:28] jlanzarotta commented on #172
By the way, I am testing with the latest 'master' code and seeing the same issue...  I will keep digging.

[2017-05-12 14:28] stephen-farris opened #173 "View multiple logs at once in single window via docking"
I would love to be able to watch multiple log files at once without in the same Tail Blazer instance without having to manually flip between tabs, similar to how an IDE lets you view multiple files and other views at once via docking.

[2017-05-12 16:18] RolandPheasant commented on #173
You can drag the tabs out like on Google chrome

[2017-05-12 18:22] jlanzarotta commented on #172
Okay, I have done a little more digging.  I have no idea if these make sense...  These were generated by using the .NET Memory Profiler...

### Potential WPF binding memory leak
This snapshot has WPF bindings where the source types do not implement INotifyPropertyChanged and the targets of the bindings are reachable from the source instances. This may cause memory leaks.
Investigate the type below

[2017-05-12 18:29] stephen-farris commented on #173
Yeah, definitely!  Was just thinking it would be nice to be able to arrange them as docked panes within a single window.  Would be easier than manually sizing a number of individual windows.

[2017-05-12 18:30] stephen-farris commented on #173
Or I guess another possibility that could solve the same need could be the ability to merge different log files into a single stream that you'd view like a single log file?

[2017-05-12 18:30] stephen-farris commented on #173
(Assuming the log files are all related to one another anyway)

[2017-05-12 18:32] jlanzarotta commented on #172
Here is the complete overview...

#### Potential WPF binding memory leak
This snapshot has WPF bindings where the source types do not implement INotifyPropertyChanged and the targets of the bindings are reachable from the source instances. This may cause memory leaks.
Investigate the type below for more information.
TextBlock, ScrollViewer, ItemsControl, DragablzItemsControl, SearchProxyCollection

[2017-05-15 20:20] jlanzarotta commented on #172
So far, I have had no lunch tracking down what is causing the above issues...

[2017-05-15 21:00] RolandPheasant commented on #172
Thanks for investigating in such detail.  I will take a good look at the results tomorrow

[2017-05-16 12:59] jlanzarotta commented on #172
You are welcome.  I really like TailBlazer; however, with the volume of lines being written to our log files, TailBlazer is really struggling.  If there is anything else I can help you out with, I will try.  I have worked with C# for many years, just not with WPF...

I did switch over to an evaluation copy of the .NET memory profiler (https://memprofiler.com); however, my evaluation period is abou

[2017-05-22 21:22] t0mburton commented on #152
Hi @RolandPheasant
When you have a spare moment could you check out the above commit, this solves the issue described here. If you are happy with the solution I will create a PR.

I'm becoming more familiar with the code base so will submit a PR for [#16](https://github.com/RolandPheasant/TailBlazer/issues/160) soon.

[2017-05-22 21:26] RolandPheasant commented on #152
That looks straight forward. Feel free to raise it as a PR

[2017-05-22 21:27] #167 closed

[2017-05-23 13:47] #152 closed

[2017-07-06 06:09] mgnslndh opened #177 "Show line numbers"
This is a feature request for showing line number at the beginning of each line. It should be possible to turn this feature on/off using a setting.

[2017-07-06 06:21] mgnslndh opened #178 "Scrollbar should indicate lines matching the search filter"
It would be very useful if the scrollbar would indicate which lines match a search just like in Visual Studio. This gives you a good overview when  you have searched a log file and trying to troubleshoot a problem.

![ic661129](https://user-images.githubusercontent.com/1139118/27898013-06d6714c-6224-11e7-801b-24ffcedd83f5.jpeg)

[2017-07-27 12:10] robsonj commented on #172
Not sure if this was resolved. I recently started using Tailblazer, its nice! But having left it running last night, this morning the process is using between 800mb & 1.2gb (peaks & toughs frequently from looking at task manager), possible leak some where? Its hard to know whats going on as its UI is just a black screen, so guessing something has foobarred. I have a memory dump file if it helps.

[2017-07-27 12:17] RolandPheasant commented on #172
Alas this is not solved. I have been meaning for a very long time to get back into TB but have been consumed with dynamic data for almost all of the last year.

I will definitely get back on the case in the near future and the first thing I will tackle is the memory issues

[2017-07-27 12:26] robsonj commented on #172
No problem Roland. Just wanted to add the observation point. I like whats there in tailblazer so far!

[2017-07-27 15:15] robsonj opened #179 "Ability to truncate log file from tailblazer"
A low priority feature request, but it would be useful to be able to truncate a log file from within tailblazer, similar to Hoo WinTails keyboard shortcut - Ctrl+Shift - T. This shows a warning followed by emptying the log file on acceptance.

Of course it only works when there are no processes attached to the log file.

[2017-07-27 15:35] RolandPheasant commented on #179
Have you tried clicking the eraser button on the bottom of the screen? It clears the view but continues tailing.

[2017-07-27 15:36] robsonj commented on #179
Thats perfect! Does it have a keyboard short cut associated with it?

[2017-08-02 03:16] CADbloke opened #180 "Spaces break Regex in Search & Highlight"
Example text...

`2017-08-02 11:58:29.086 +10:00 [Information] Parsing 28 of 238: "D:\DWG\SomeDrawing.dwg"`

I want to highlight `Parsing 28 of 238`, the numbers can vary

Regexes I tried to match
- `Parsing \d+ of \d+` - nope
- `Parsing \d* of \d*` - nope
- `Parsing \d*` - did highlight the word "Parsing" but nothing after it
- `parsing\s\d+\sof\s\d+` actually highlighted the phrase.

Does the se

[2017-08-02 16:07] martinmizzell opened #181 "Save & Load TailBlazer highlight settings."
I have 3 computers and more virtual machines, all of which have TailBlazer installed. I also share global highlight settings with my colleagues.  The ability to save and load settings would be great!

[2017-08-24 01:40] flcdrg opened #182 "Slow over RDP"
When I use TailBlazer over RDP, it feels pretty sluggish.

Wondering if any of the suggestions mentioned in https://blogs.msdn.microsoft.com/jgoldb/2010/02/27/optimizing-visual-studio-2010-and-wpf-applications-for-remote-desktop/ could be implemented (if they haven't been already)

[2017-10-09 20:18] Mnuzz opened #183 "Incorrect rendering (unusable) on 2nd monitor with different scale"
## Problem
The window does not "Repaint" in certain regions of the screen. So scrolling, highlighting, resizing the window, etc does not refresh anything outside of a given region. If I drag the window down, the stuff that is already rendered will still display, but it won't update while in that region. In my case, this occurs on the left monitor. The only areas that repaint in the left monitor ar

[2017-10-09 20:35] Mnuzz commented on #159
Possibly related: https://github.com/RolandPheasant/TailBlazer/issues/183

[2017-10-11 15:52] theviking opened #184 "Single character search"
The log I'm searching uses a single quote ' for a comment. I would like to color the text in this line as gray or green, so it is easier to ignore. Is this possible or could it be added as a capability?

[2017-10-31 13:19] Kohina opened #185 "Show inline scrolling jumps"
The show inline feature is very useful but I have the issues that if I try to go up or down a few rows in the inline window it jumps to a different place in the log and not where the line that was selected is.

That is, press a row and show inline, click to go up or down a few rows and the selection will jump away from the selected row.

[2017-11-14 03:12] Noctis- commented on #39
Apparently not ... at least, not that i can see in 0.9.0

[2017-11-29 15:11] Otiel commented on #51
Any progress on #20?

[2018-01-04 15:24] tlycken opened #186 "Search with context"
When searching in logs, it is often valuable to show not only the line that matches the query, but also a few lines before and/or after it (much like `grep` can do).

Is this already possible? If so, how? If not, consider this a feature request :)

[2018-01-04 16:08] RolandPheasant commented on #186
You can see the context by checking the show inline checkbox

[2018-01-05 14:46] tlycken commented on #186
@RolandPheasant I know, and that's nifty :) But it doesn't really solve my problem, though, since it only shows one item at a time.

My use case here was trying to figure out if all the exceptions I saw in the log had the same trace events leading up to them, and for that I'd want to be able to list all lines matching `exception`, and one or two lines before them. (Then, I'd probably go on to see

[2018-02-05 08:29] crunchie84 opened #187 "'esc' should close the sidebar pane"
When you open the hamburge menu (containing your recent files) you can not close it with the keypress `esc`.

Tested with version 0.9.0

[2018-02-13 18:08] DidierLoiseau opened #188 "Search for next/previous occurrence without filtering the whole file"
Quite often, it is useful to quickly find the next/previous occurrence of some text, be it in the search results or in the inline.

Currently, this requires to filter the whole file again, and try to find back the corresponding line numbers. For big files, this is very slow – and it won't work at all if the number of matches is more than 50k. Additionally, it makes it very difficult to combine the

[2018-02-22 17:07] napalm684 opened #189 "Feature Request: Merge Tabs"
It would be cool if you could merge tabs together from multiple log files and search them as one collective log file.

[2018-03-15 11:23] Grendizr commented on #89
Any update on this one ?

[2018-03-27 15:04] AdrianLogan opened #190 "Next release to Chocolately?"
The last Chocolately TailBlazer release was in June 2016. Same for the GitHub releases page.
When is the next release for TailBlazer scheduled?

[2018-04-12 01:02] napalm684 opened #191 "Export filtered tab to file"
Feature request: export a tab to a file when it is filtered to just matching search results.

[2018-06-19 16:45] Trinition commented on #166
I come at this from a different perspective but probably would have the same underlying mechanism: the ability to open multiple log files from the Open dialog.  I, too, have multiple log files for an application that I want opened together.  I'm perfectly fine using the Open dialog, but don't like having to singly select files.

[2018-06-25 13:35] fschmied commented on #185
Related (or even the cause): Pressing cursor down on the last visible row in the top pane while "Show inline" is active will set the focus to the inline view control, allowing me to resize it using the cursor keys. Pressing page down multiple times exhibits a similar focusing behavior, also focusing part of the inline view.

[2018-09-26 06:50] mikeloeven opened #195 "Opening a file in tail blazer does not automatically change tab focus"
Tail blazer does not properly switch tab focus when opening a log file.

Steps to reproduce.

Set tail blazer as default open with application for a type of text file .log .ini .txt etc

double click a log file in explorer.

Tail blazer will open however if the application has other tabs previously opened it will remain focused on the previous tab and not change focus to the newly opened file

[2018-11-21 13:33] papicj2 opened #196 "Apply substring to all input lines ?"
Hello,

Is it possible to add code in this project in order to substring all input lines? I would like to apply same substring function to all lines. I am a student and I have to done this to pass exam. Thanks in a advance!

[2019-04-12 18:22] istrupin commented on #78
I am also experiencing this issue on version 0.9.0

[2019-12-13 10:13] feriagusetiawan opened #198 "Feature Request: Open URL file"
Hi, is it possible to open url file log ex http://tail.me/file.log
thank you

[2019-12-26 03:14] Azhe403 opened #199 "make nuget package for as user control"

[2020-02-01 11:38] adoris123 opened #200 "Featur request: drag and drop for zip compressed logs."
My rolling log files are zipped and i want to open this files by drag-and-drop.

[2020-03-12 15:07] FKLaben commented on #200
Hi @RolandPheasant and @adoris123 ;

I am new here but I am willing to give a try: I have a branch on my local cloned repo that may match requirements of this feature request. Can you please review it? (No write access at this time to push it)

[2020-06-05 18:20] k-u-s commented on #199
@RolandPheasant would you consider contribution that targets this issue?

I made some initial attempt to see how it could be resolved, changes are available:
https://github.com/RolandPheasant/TailBlazer/compare/master...k-u-s:feature/user-control

It is only to point initial direction that I thought this could go.

Because of current trend with net core I wanted to able to use it in net core proje

[2020-06-06 11:45] RolandPheasant commented on #199
My initial impression is that this idea is great and I am delighted that you have put so much thought and consideration into it.  I have neglected this project for far too long and it would be great to have some life and some direction blown into it. I think breaking down the components to enable them to be used in isolation and with other technologies such as Avalonia appeals and would fir in wit

[2020-08-17 08:14] QuintinHumphreys opened #201 "Feature Request: multiline logs"
great app, thanks.

cant seem to get tailblazer to understand my logs that contain json or other formatted content that has line breaks.  am i missing something or is this something that is planned?

[2020-12-03 16:30] codehunter13 commented on #188
+1

[2021-01-23 06:29] off99555 commented on #190
Yes. It's weird. I need to install from source at the moment?

[2021-02-26 11:24] azhe403 commented on #199
any update about this?

[2021-06-16 20:28] BennettBishop opened #204 "Zoom setting unnecessarily shows decimals"
The Zoom setting is making the settings window wider by displaying lots of decimals.  Full integers should be good enough for all users.

[2021-06-17 13:53] BennettBishop opened #206 "Line Number and highlight symbol overlap"
Text Highlight filters put their respective symbol on the far left of each line.  When line numbers are turned on, this symbol overlaps with the line number, making it hard to read.

![image](https://user-images.githubusercontent.com/86023315/122410331-d226f080-cf51-11eb-92b8-cef360b98855.png)

[2021-06-17 14:15] BennettBishop opened #208 "Line numbers sometimes appear incorrect"
Seems to be related to text filtering.  Sometimes the line number are not accurate (and even duplicated).

![image](https://user-images.githubusercontent.com/86023315/122414149-eae4d580-cf54-11eb-8814-57567f43f8ae.png)
[test.txt](https://github.com/RolandPheasant/TailBlazer/files/6670898/test.txt)

[2021-07-20 15:09] rayjanoka opened #209 "Dark Mode Default"
Hi, I was curious if there was a way to enable dark-mode by default, either through a command line flag, config file, or registry setting, but I can't seem to find anything. -thx!

[2021-11-29 09:57] #58 closed

[2021-11-29 09:58] #60 closed

[2022-01-10 02:28] Gao996 opened #210 "Chinese garbled"
![image](https://user-images.githubusercontent.com/51224634/148711892-7e568e94-cf9f-47be-ab2a-40e5ec06f3cd.png)
Chinese garbled

[2022-04-07 02:01] #191 closed

[2022-11-17 18:11] RolandPheasant commented on #190
It's been 7 years but I have finally upgraded the project to Net 6 and feel like giving it love.  I will soon prepare a new release.

@abuzhynsky long ago, you originally set up Chocolately for TB. Would you mind doing a new release soon, or explain how I can do it> Thanks

[2022-11-17 20:27] MarcoSpoenemann commented on #190
That would be great! I've using your project all the time and it's so easy to set it up using choco on a new machine. Would love to see a current version released that way.

[2022-11-21 08:50] abuzhynsky commented on #190
@RolandPheasant

Wow, that was sudden. 😄
Being honest, TB was the only package that I've maintained. I haven't used Windows for last few years and I don't have a Windows machine to make a new release and test it.

The sources for the package are located [here](https://github.com/abuzhynsky/chocolatey-packages). You can fork this repo or I can transfer the ownership to you. Also, I'll add you as a